[2016-07-17 17:42] jimthedev opened #1 "Add repo to package.json"
Currently there is no link from npm back to this repo because the package.json doesn't contain a repo.

[2016-07-17 17:53] jimthedev opened #2 "Blurry text on high dpi monitor"
Hi there. Great plugin. One thing I've noticed is that on my 13in retina mbp, the text is super blurry. I'm guessing this is due to using canvas w/o adjusting for dpi. http://www.html5rocks.com/en/tutorials/canvas/hidpi/

[2016-07-18 02:31] JerryLopez commented on #1
@jimthedev I went ahead and submitted a pull request for this.

[2016-07-18 02:41] jerrylopez opened #4 "General Design, Feature Discussion"
Hello! :) I really like you extension. The idea of doing something like this came to mind a couple years back, but I didn't know how to really accomplish it haha. Powerline, and patched fonts were along the lines of what I was thinking, but now that we have HyperTerm I feel like so much is possible.

I just wanted to see if you have any ideas beyond what you have now? If so, what are they? I would

[2016-07-18 04:29] NickTikhonov commented on #4
Hey @JerryLopez - thanks for the issue and fixing up my `package.json` 🎉 . This project started off as a way for me to learn how to hack HyperTerm - but I intend to turn this into a serious plugin as this could be a great addition to the terminal for a lot of people. I think that the following features are really important regardless of what info we end up showing:

* Custom colors / colors that m

[2016-07-18 04:33] NickTikhonov commented on #2
Hi @jimthedev - thanks for pointing this out 👍 . This is definitely a result of using canvas instead of rendering the line as a DOM element. I'm planning to reimplement the line to render in the DOM, but I will fix this issue ASAP :)

[2016-07-18 04:34] NickTikhonov commented on #1
Thanks for the issue @jimthedev, and thanks for the PR @JerryLopez :)

[2016-07-18 04:34] #1 closed

[2016-07-18 16:29] JerryLopez commented on #4
@NickTikhonov Ideas I had were a couple that you listed above and:

- Resizable line
- Git information (Branch/Last Commit Id/Staged & Unstaged count)
- Clickable buttons (for example: Editor button used to open current directory in your favorite editor)
- Something I just thought of is expandable menus or sections to show more options or information

I think by completing the first 4 items on you

[2016-07-18 20:17] NickTikhonov commented on #4
These are all great - I especially like the idea of having git integration and some context menus for accomplishing common tasks. We should provide info that people would otherwise append to their prompt. Perhaps we could also take advantage of having a canvas and render some graphs or other visual elements that would be difficult to keep in the DOM.

I think these should be the first steps:

* Ad

[2016-07-19 04:12] JerryLopez commented on #4
@NickTikhonov will do 👍.  I'll start a pull request as soon as I get a chance for linting and transpiling.

[2016-07-20 03:50] NickTikhonov commented on #2
@jimthedev - this problem has been fixed with #5, let me know if you have any issues :)

[2016-07-20 17:14] #2 closed

[2016-07-20 22:27] jkup opened #6 "Conflicts with Hyperborder"
Hey!

Not sure what repo to report this in but this plugin seems to conflict with [Hyperborder](https://github.com/webmatze/hyperborder)

Screenshot attached:
![screen shot 2016-07-20 at 3 26 51 pm](https://cloud.githubusercontent.com/assets/490294/17005335/7dcaede6-4e8e-11e6-9023-a3696c364fa3.png)

[2016-07-22 03:37] NickTikhonov commented on #6
Hey @jkup - thanks for pointing this out! It would make sense to resolve this on our end - hyperborder applies CSS styling to the window, while hyperline draws a canvas overlay. I'll take a look at fixing this :)

[2016-07-23 19:33] timneutkens opened #8 "Local development issues"
Following the instructions in README.md I installed hyperline locally. Whenever I start hyperterm or refresh the window I see the following error: `Uncaught TypeError: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'` on line 134 of index.js. This is triggered because this._canvas is null. Doing some debugging I found out _onTerminal is not triggered. Did you see this b

[2016-07-24 19:31] timneutkens commented on #4
I'll try

If I get it to render using localPlugin >.<

[2016-07-25 01:46] NickTikhonov commented on #8
Hey @timneutkens  - that is definitely strange. I'll take a look and see if I can replicate this.

[2016-07-25 01:53] NickTikhonov commented on #8
I just removed my local development version and reinstalled it again - I didn't get any errors.

First, I ran:

[code]

Then I added "hyperterm-hyperline" to localPlugins:

[code]

I'm on the latest version of HyperTerm, and have no other plugins installed. It might be useful if you could list all other plugins you have installed :)

[2016-07-25 06:11] timneutkens commented on #8
should note that when I add it to plugins everything is fine, just removed all plugins. Now it seems to function properly 👍 just have to figure out which plugin is killing it. I have these `'hypercwd', 'hyperterm-atom-dark', 'hyperterm-1password', 'hyperterm-blink'`

[2016-07-25 06:15] timneutkens commented on #8
hmmm that's just plain weird. Removed all plugins, restarted, added them back one by one. Everything was fine. Updated all plugins. Now it's all functioning properly. Thanks Nick!

[2016-07-25 06:15] #8 closed

[2016-07-25 14:28] NickTikhonov commented on #8
No problem, glad it worked in the end  👍

[2016-08-01 11:34] ruiposse commented on #6
It doesn't conflict only with Hyperborder. If you open vim, hyperline goes a bit on top of the vim "prompt" (that is obviously in the bottom).

[2016-08-03 00:02] mAAdhaTTah opened #10 "Overlaps Bottom of Hyperterm"
See image:

https://www.evernote.com/l/AFk1AUHEIZ5HBKHWR2vaezbJNOzQdPUFvlA

Here's my current configuration:

[code]

It's _possible_ this is caused by a conflict w/ `hyperterm-overlay`, but not sure.

[2016-08-10 20:14] lowmess commented on #10
Also an issue for me (do not have `hyperterm-overlay` installed). It's possible to fix by adjusting the padding values in your `~/.hyperterm.js`:

[code]

[2016-08-14 13:04] #6 closed

[2016-08-14 13:15] timneutkens commented on #10
@NickTikhonov This can be closed now. Fixed in #12

[2016-08-14 13:17] #10 closed

[2016-08-14 14:14] timneutkens commented on #4
To get back at

I finally figured out how to do it. Will fix it shortly 👍

[2016-08-18 18:02] aewing opened #16 "Doubled Hyperlines on macOS"
Occasionally hyperline will be duplicated in my HyperTerm sessions after resizing the window or unplugging a monitor. I'm having trouble reproducing the issue consistently, but it can be quite bothersome when it does occur.

I am on the beta build of macOS, but a friend who is on the latest supported build has confirmed that they are seeing the issue as well.

I am using Node v6.3.1

[2016-08-21 20:30] Craytor opened #17 "HyperLine Plugin Error"
I am getting the following error when I try to install the plugin:
[code]

Here is the full error in the Developer Tools console:
<img width="1299" alt="screen shot 2016-08-21 at 4 29 27 pm" src="https://cloud.githubusercontent.com/assets/3680866/17839657/85ce06da-67bc-11e6-9689-82fe8057f65a.png">

[2016-08-21 23:00] MadlySeason commented on #17
I have the same issue and if my memory is any good, this was not happening before I started using [https://github.com/matheuss/hpm](hpm-cli).
Please let me know how I can help.

[2016-08-21 23:12] Craytor commented on #17
@MadlySeason Hmm, I don't have that installed.

[2016-08-23 02:37] NickTikhonov commented on #17
Hey @Craytor @MadlySeason - apologies for the problem. It was caused by an incorrect configuration of our package which prevented the transpiled JavaScript from being published to NPM. This was fixed, and the updated version should work just fine :) Let me know if you have any more issues

[2016-08-23 02:38] #17 closed

[2016-08-23 03:26] Craytor commented on #17
This has fixed the errors! Also, are the hours listed at the bottom of the console how long the computer has been on?

[2016-08-23 11:42] MadlySeason commented on #17
@Craytor
If you check [index.js](https://github.com/NickTikhonov/hyperterm-hyperline/blob/master/src/index.js) you can see what each item is.
First is hostname, then memory status, then **uptime** and last cpu status.

[2016-08-24 03:16] mxdlx opened #18 "Overlapping at Hyperterm default size"
Hyperline overlaps with prompt at bottom of hyperterm (default size), I don't know if retina display resolution has something to do with this. Please let me know if I can do anything to help.
<img width="566" alt="captura de pantalla 2016-08-24 a las 00 14 44" src="https://cloud.githubusercontent.com/assets/3970003/17917127/d3062aac-698f-11e6-9f4f-63aedb52b6bf.png">

[2016-08-24 16:57] NickTikhonov commented on #18
Hey @MadlySeason - thanks for reporting the problem :) I could replicate this by slowly changing the height of the window while hyperline was running:

![untitled mov](https://cloud.githubusercontent.com/assets/6755555/17939743/aa910826-6a34-11e6-9068-d977a1af694a.gif)

This could be caused by how the hyperline element overlaps the terminal. The problem would probably be solved if the overlap is r

[2016-08-24 23:01] davegomez commented on #18
I think this is not an Hyperline issue since I have experimented this problem even without the extension, I think it might be a Hyperterm issue.

[2016-08-24 23:05] davegomez commented on #4
I would like to propose a visual change for Hyperline, adding some icons and blank space.

The icons will be pixel perfect SVGs with original designs related with the type of information displayed by the extension.

I also would like to work adding the network traffic plugin if no one else is working on it already.

![hyperline](https://cloud.githubusercontent.com/assets/282903/17951068/5106e76e-6

[2016-08-25 07:12] timneutkens commented on #4
Hey @davegomez, That's cool 👍
It's quite hard to detect network traffic. Have looked into it. Only easy way I could come up with is using pcap, but that is kind of crap to do 😉

[2016-08-25 12:47] davegomez commented on #4
I think I know a way to do it, let me try and I will make a PR if it success

[2016-08-25 22:20] Or3stis commented on #4
How about displaying the battery information as well?
It would be easy to do by periodically running `pmset` on a mac and grep the battery output.
There are similar commands for other OS to make it cross platform.

Should I make a PR?

[2016-08-26 00:47] davegomez commented on #4
@Or3stis I can make the icon for the battery and implemented in my icons PR, go ahead.

[2016-08-26 10:24] Or3stis opened #19 "Cloned hyperline repo fails to load"
While installing the plugin using `hpm-cli` I have no issues and works perfectly. It fails to load when I clone the repo for development. Here is a screenshot of the issue.

<img width="548" alt="screen shot 2016-08-26 at 11 14 01" src="https://cloud.githubusercontent.com/assets/11923550/18002188/43db4876-6b7e-11e6-9610-ad8d872dfa0c.png">

The cloned repo is at

<img width="381" alt="screen shot 2

[2016-08-27 17:10] JerryLopez commented on #19
@Or3stis try the following steps and let me know if they work out for you. I'm submitting a PR for this.

To set up the project for development:

1. Clone this repository into `~/.hyperterm_plugins/local/`
2. Run `npm install` within the project directory
3. Run `npm run build` to build the plugin **OR** `npm run dev` to build the plugin and watch for file changes.
4. Add the name of the directory

[2016-08-27 18:21] Or3stis commented on #19
It works great 👍 !!

Thank you @JerryLopez

[2016-08-27 18:22] #19 closed

[2016-09-01 22:50] NickTikhonov opened #30 "Configuration"
This issue's purpose is to discuss how Hyperline will be configured by it's users. A means of customising and configuring Hyperline would be really useful, especially as we have more and more plugins available. Users should be able to:

* Select which plugins they want to see
* Change the color associated with each plugin
* Change the font size of all plugins (or perhaps size relative to the termi

[2016-09-01 22:52] NickTikhonov commented on #4
Started a discussion about user configuration in #30!

[2016-09-02 00:56] davegomez commented on #30
I like all the ideas and I think they are necessary.

I specially like the drag and drop option, very fancy xD

[2016-09-02 09:52] NickTikhonov commented on #30
There are libraries available that make drag and drop possible, the best i found so far is [React DnD](https://github.com/gaearon/react-dnd). The only problem is that it needs React as a peer dependency, so we might have to that into our module after all 😂

[2016-09-02 12:08] Or3stis commented on #30
The configuration option is becoming essential (we are running out of room 😃)

I was planning on making some plugins for security testing such as:
* external IP
* local IP
* what interfaces are up
* interface mode
* whether the mac address is changed

Since those plugins are pretty specific, it makes little sense to ship in the default version.

What are the general plans for hyperterm's configura

[2016-09-02 12:26] NickTikhonov commented on #30
@Or3stis - wow awesome :D I think we should start with a config object in `.hyperterm.js` and eventually add something that's easier to use

[2016-09-02 14:33] davegomez commented on #30
We should create a route map with the selected plans not the ideas, the ideas could be somewhere else.

We need a way to order the future features so we can pick them one by one.

[2016-09-09 12:52] #30 closed

[2016-09-14 00:17] AddictArts opened #36 "Adding the setInterval delay to the config"
If anyone is looking for an enhancement I would ask for this feature. I have found the memory checking every 100ms aggressive and ended up hacking the dist bundle. I don't have time to fork and pull request, wish I did. Thanks

I also found the network check aggressive and drives my cpu usage up. On my Mac the fans kick in like I'm running OpenGL rendering in a window. This is on Yosemite. Using t

[2016-09-15 12:09] davegomez commented on #36
I agree on the time interval part and I will check the network NaN output.

[2016-09-21 15:39] davegomez opened #37 "Apply styles using classes"
We are using inline styles for Hyperline making the resulted code big, confusing, ugly, and difficult to override. I think we should use classes instead to apply the styles.

I'm not sure how this is being done with Hyperterm but it worth to look at it.

[2016-09-25 11:05] timneutkens commented on #18
Open up `.hyperterm.js` and edit the padding propery to this: `padding: '12px 14px 18px 14px'`

[2016-09-27 15:24] timneutkens commented on #16
I've experienced this myself, as you said, inconsistently. Will have a look at fixing it 👍

[2016-09-29 08:24] NickTikhonov commented on #36
Hey @AddictArts - thank you for flagging up these issues. It's a good idea to provide ability to configure the intervals, and have a better default. One of us will look into this.

[2016-09-29 08:46] timneutkens commented on #36
The NaN fix was already merged (#38)

[2016-09-29 18:03] NickTikhonov commented on #36
@AddictArts - I wrote a solution to this problem in #40 :)

With the next HyperLine release, you will be able to set update intervals on a per-plugin basis.

[2016-10-01 18:04] timneutkens commented on #37
Just looked into this, you're making such a valid point. Thanks for bringing it up.
Will take a deep dive into it later.

[2016-10-01 19:21] timneutkens opened #41 "Ideas for Hyperline items (plugins)"
Do you have a great idea for a new plugin? Post it below please 😄

[2016-10-02 11:19] timneutkens commented on #41
Taken from #4
- Resizable line
- Git information (Branch/Last Commit Id/Staged & Unstaged count)
- Clickable buttons (for example: Editor button used to open current directory in your favorite editor)
- Something I just thought of is expandable menus or sections to show more options or information
- Some kind of summary of running / detached processes

[2016-10-05 16:57] ryedin opened #43 "NaNKb/s in traffic display"
The attached screenshot says it all. NOTE: this is intermittent (it flickers between this and 0KB/s at times)

<img width="279" alt="screen shot 2016-10-05 at 11 55 15 am" src="https://cloud.githubusercontent.com/assets/151376/19123061/d634f3c8-8af2-11e6-86e7-ee0947a487ad.png">

[2016-10-05 17:09] timneutkens commented on #43
Fixed in the next release. There was a PR to fix it already :) Thanks for pointing it out Anyways!

[2016-10-05 17:09] #43 closed

[2016-10-06 18:30] aewing commented on #41
Network usage would be a nice addition.

[2016-10-06 23:08] jkup opened #45 "getting NaNkb/s during npm installs"
Seeing this a lot when I npm install on a  project. The traffic reader gets in a weird state where it alternates between 0 and NaNkb/s.

<img width="228" alt="screen shot 2016-10-06 at 4 06 21 pm" src="https://cloud.githubusercontent.com/assets/490294/19173828/1c3820b0-8bdf-11e6-971f-2f8594444e09.png">

[2016-10-07 04:47] timneutkens commented on #45
Fixed in next release soon.

[2016-10-07 04:47] #45 closed

[2016-10-13 04:11] tkisme opened #46 "long time launching"
need 5 more seconds to launch a new windows

[2016-10-14 18:52] davegomez commented on #46
Can you provide more context on this issue @tkisme?

[2016-10-14 18:56] davegomez opened #47 "Project name?"
Is the project going to be updated to match the changes made to Hyper?

[2016-10-14 18:59] timneutkens commented on #47
I did make Some changes. Need to review a bit though. Thanks for bringing it up. Been quite busy this week 😉

[2016-10-16 08:39] tkisme commented on #46
Darwin Kernel Version 16.0.0
hyper:0.8.2

[2016-10-17 11:31] timneutkens opened #49 "Implement css icon set"
@davegomez Might be nice to implement pure css icons 😏
http://cssicon.space/#/icon/search

I'm fine with the current solution though. But it might cleanup markup a bit 👍

[2016-10-17 13:17] davegomez commented on #49
I personally prefer SVG icons, also I don't like the way we have to implement CSS at the moment (inline). Also CSS icons are more difficult to maintain since there is more code involve and can't modify using a graphic tool.

[2016-10-17 14:30] timneutkens commented on #49
Hey Dave,
The fix I made for exposing the wrapper component in hyperterm is added in 8.2 (at least I think so.) So I can start integrating it soon 😄
The css icons is just an idea 👍

[2016-10-17 14:32] timneutkens commented on #16
Seems fixed when we moved to the higher order component way. Closing.

[2016-10-17 14:32] #16 closed

[2016-10-17 14:34] timneutkens commented on #46
@tkisme can you provide some actual example? Kinda hard to debug without it. For me personally it's just as fast. We don't do anything render blocking in Hyperline (all async). So this shouldn't be an issue 🤔

[2016-10-18 04:20] tkisme commented on #46
TypeError: this.setBatteryStatus is not a functio

[2016-10-18 07:09] timneutkens commented on #46
is fixed now.

the render time is in `ms` so render time increased with around `100ms`, not sure why that is. But it's still kinda fast 😏 at least it's not 5 seconds more, that would be terrible 😉

[2016-10-19 09:54] linkurzweg opened #50 "hyperline not showing up"
I installed hyperline and am using the default configuration from the readme, but the line is not showing up, there is no information displayed (I'm using a 2015 MacBook Pro with Mac OS Sierra 10.12 and Hyper 0.8.3). Am I doing something wrong?

[2016-10-19 10:07] timneutkens commented on #50
It's not you. We've fixed this already. Haven't released it yet though. Haven't been able to reach @NickTikhonov. For now you can install hyperline locally in `~/.hyper_plugins/local/hyperline`.
Or use `hpm` to install it with `hpm fork hyperline` https://github.com/zeit/hpm

[2016-10-19 11:32] linkurzweg commented on #50
Thanks for the info, I will do that!

[2016-10-19 12:04] timneutkens commented on #50
I'll close this 👍

[2016-10-19 12:04] #50 closed

[2016-10-20 11:17] tkisme commented on #46
total init time 359.82

[2016-10-20 11:19] #46 closed

[2016-10-27 22:40] designMoreWeb opened #51 "Installed it"
So i  installed hyperline and added the configurations to the .hyper.js file and reloaded the hyper application using > cmd+shift+r.  However this is not working for me and i can't see anything in my terminal how do i fix this please help me.
<img width="1242" alt="screen shot 2016-10-27 at 6 38 59 pm" src="https://cloud.githubusercontent.com/assets/5986856/19788148/c646392a-9c74-11e6-9479-52a21d1

[2016-10-27 22:55] Arttse opened #52 "Not showing up on Linux Ubuntu 16.04"
Using default `.hyper.js` file.

I tried different methods:
- Just add "hyperline" to plugins to `.hyper.js` file.
- Install by `hpm` — `hpm i hyperline`.
- Install to local by `hpm` — `hpm f hyperline`.

Nothing to show `hyperline`. Maybe I something doing wrong?
##

Node.js 6.9.1
NPM 3.10.8

Hyper 0.8.3
hpm-cli 1.4.0
hyperline 0.6.0

Linux Ubuntu 16.04
Linux kernel 4.4.0-45-generic

[2016-10-27 23:12] Arttse commented on #52
As it turned out, the problem was that you published version `0.6.0`, forgetting to run the command `npm run build`.

Now in version hyperline `0.6.0` in `dist/hyperline.js` is this code:
[code]

And if I take the source code and run `npm run build`, i see in `dist/hyperline.js` is this code:
[code]

Now problem is solved. Now the `hyperline` shows.

Please publish the new version with fix.

[2016-10-27 23:41] Arttse commented on #51
Same in #52

Using hyperline version `0.6.0` fast fix is the using steps from readme [contributing](https://github.com/NickTikhonov/hyperline#contributing). In step 3 run only `npm run build`.

Now just have to wait until a new version of the fix will be published.

[2016-10-28 00:03] designMoreWeb commented on #51
I did that and now i am getting this error
<img width="1280" alt="screen shot 2016-10-27 at 8 03 13 pm" src="https://cloud.githubusercontent.com/assets/5986856/19789764/702fee44-9c80-11e6-9874-d457c424689a.png">

[2016-10-28 00:21] Arttse commented on #51
@designMoreWeb you have not fulfilled all the steps from [readme contributing](https://github.com/NickTikhonov/hyperline#contributing). Do you know how to clone git repos and install NPM modules?

In terminal:
[code]

Step 4:
Add the name `hyperline` to localPlugins in `~/.hyper.js`. Make sure `hyperline` is removed from plugins in `~/.hyper.js`. You should get something like this:
[code]

Step 5:

[2016-10-28 00:28] designMoreWeb commented on #51
alright so i performed npm install and it worked. However when i am running npm run build in the directory i get
<img width="1266" alt="screen shot 2016-10-27 at 8 28 12 pm" src="https://cloud.githubusercontent.com/assets/5986856/19790149/e856bc74-9c83-11e6-8bbf-7cc14f4cab9e.png">

[2016-10-28 00:51] Arttse commented on #51
Amazing. It seems that webpack not found the right file. I feel like not everything was cloned. Try `tree ./src` in current folder. My tree:
[code]

[2016-10-28 01:21] Arttse opened #53 "Uncorrect display memory"
In system monitor:
![system-monitor_memory](https://cloud.githubusercontent.com/assets/7123950/19790797/256da5d8-9cc4-11e6-9884-c069a0ae31a6.png)

In htop:
![htop_memory](https://cloud.githubusercontent.com/assets/7123950/19790968/b03cb7f2-9cc5-11e6-97b4-a0b0e0c6fe4e.png)

In hyperline:
![hyperline_memory](https://cloud.githubusercontent.com/assets/7123950/19790975/bf6e5f46-9cc5-11e6-98d8-5ebe2724

[2016-10-28 03:07] designMoreWeb commented on #51
doesnt work for me as tree command is not found on my mac nor i can install it  for a weird reason

[2016-10-28 20:53] timneutkens commented on #53
Noticed this too (me being on mac). It is taken from os.freeMem (core node.js function).
There seem to be more reports of it being incorrect:
https://groups.google.com/forum/#!topic/nodejs/R1mJgyqzaTY
https://github.com/Unitech/keymetrics.io/issues/24

[2016-10-28 20:54] timneutkens commented on #51
@Arttse thanks for picking up support 😉
@designMoreWeb you are totally right. Will do a new release soon 👍

[2016-10-28 20:55] timneutkens commented on #52
Contacting Nick already 😉

[2016-10-28 20:56] timneutkens commented on #51
Since #52 is more complete i'm closing this one.

[2016-10-28 20:56] #51 closed

[2016-10-28 21:44] Arttse commented on #53
You have dependency is `systeminformation`. I checked, it seems this module correctly displays the memory. You can use the [mem](https://github.com/sebhildebrandt/systeminformation/blob/master/lib/index.js#L772) function to get correct memory.

And another thing, can show the usual `active / total` memory? Or is it better just to make a custom show `active` or `available` memory, in config in `.hy

[2016-11-01 14:30] timneutkens commented on #53
@Arttse feel free to PR it 😄 any help is welcome.

[2016-11-04 15:22] pthrasher commented on #41
Definitely VCS (git, hg, svn, etc) information.

[2016-11-04 20:12] JorgeGonzalez commented on #52
Same issue on macOS Sierra.

[2016-11-05 14:42] timneutkens commented on #52
@NickTikhonov

[2016-11-06 09:41] Arttse commented on #53
@timneutkens thank you. I think we should wait, when #40 is merged.

[2016-11-06 09:42] timneutkens commented on #47
Updated 👍

[2016-11-06 09:42] #47 closed

[2016-11-06 09:48] timneutkens commented on #53
@arttse That one will be open for a while. I'm doing a total rework of the core code again to implement classes instead of inline styling.

[2016-11-06 10:11] Arttse commented on #53
@timneutkens I already did it for me. It worked, but looks ugly and without settings. If you want, I can create PR with these changes.

[2016-11-06 10:21] timneutkens commented on #53
That's ok 👍

[2016-11-06 13:02] #53 closed

[2016-11-07 20:09] ajma commented on #50
hpm fork hyperline https://github.com/zeit/hpm didn't help my install. Still don't see hyperline

[2016-11-07 20:22] ajma commented on #50
I just installed it locally into /.hyper_plugins/local/hyperline by cloning the repo and then building it.

[2016-11-08 21:29] taylorthurlow commented on #52
Same issue on El Capitan as well.

[2016-11-08 21:34] timneutkens commented on #52
Just contacted Nick, he's going to do a new release 👍

[2016-11-08 21:37] timneutkens commented on #52
New release (0.6.1) was just released. Go download :shipit: 🚀

[2016-11-08 21:37] #52 closed

[2016-11-08 21:42] taylorthurlow commented on #52
Working great, thanks for the quick response.

[2016-11-08 21:45] timneutkens commented on #52
@taylorthurlow great 👍

[2016-11-22 16:27] luisrudge opened #57 "add windows support"
`systeminformation` doesn't work on windows :(

[2016-11-22 20:47] timneutkens commented on #57
Well that's not too good 😅

[2016-11-27 15:35] Pangoraw commented on #41
I created a plugin which gather the temperature from the `Yahoo API`. However I am not sure if I should do a pull request, as this plugin pretty different in purpose than what is installed by default with `hyperline`.
![hyperline](https://cloud.githubusercontent.com/assets/9824244/20649382/1c4bb64e-b4bf-11e6-8e95-dfbc9153066d.png)
Tell me if you wan't me to make a pull request.

**PS**: I am still

[2016-11-27 20:41] timneutkens commented on #41
@pangoraw Sure thing 👍 Just make sure you make it configurable. Disabled by default since it does http(s) requests which people might not want.

[2016-12-01 12:55] hellominotaur commented on #41
I would like it if (and have written code to do this in my fork) `user@hostname` could be displayed, with some options to switch the user on or off

If you think that might be what other people might want I can swing a PR over

[2016-12-01 20:32] jritsema opened #58 "Always show 2 digits for CPU percentage"
Hey, awesome plugin!  Thanks for making it!

One suggestion though.  When the cpu percentage changes between 1 digit and 2 digits (e.g.; 9% -> 10%), it creates a rather visually jarring effect when the total width of the status bar grows/shrinks which can be distracting.

What would you think about always using 2 digits (e.g.; 01%, 09%, etc.) ?  That way the width the content in the bar would be c

[2016-12-02 10:51] golodenko commented on #4
Think that idea of having battery, CPU and memory info is to notice unusual behavior.
What do you think of idea to highlight when cpu goes over 80%, battery < 10% and memory is low?

Like blink once and keep it red to get users attention.

[2016-12-02 13:49] davegomez commented on #58
The problem will still exist if the CPU load gets to 100% so in that case we will need three numbers instead of two.

Another solution could be to add the space needed for this numbers but it will create a visual gap between the icon and the displayed data.

I think the best solution in this case would be to place the CPU plugin at the end.

[2016-12-02 13:50] davegomez commented on #57
Is not easy to get all this information from Windows platform, at least many of the native Node.js tools doesn't work properly on Windows.

[2016-12-02 14:49] jritsema commented on #58
Yes, good point @davegomez.  I like the idea of moving it to the end.  I tried to move it to the end in the config file as well removing it from the config file and it didn't work.  I guess we would need a code change to support it.

[2016-12-02 16:03] luisrudge commented on #57
Yeah.. I figured.. 😝

[2016-12-04 18:09] kaicataldo commented on #37
Was just looking at this to try to make the font-weight not bold. Applying styles with classes/having an option to apply styles would be great!

[2016-12-04 18:19] timneutkens commented on #37
@kaicataldo I started working on this, haven't had much time lately. The fontWeight option wouldn't be needed if I implement classnames.

[2016-12-06 10:59] hellominotaur opened #60 "Add user to hostname plugin"
I wrote this before for the plugins but didn't get a reply from the maintainer, so thought it would make far more sense as an explicit feature request.

In my fork of hyperline the hostname plugin is displayed in the format ```user@hostname```. There's an option to switch the username on or off, with off as default.

If you think that's what other people might be interested in using I can swing a

[2016-12-06 12:23] timneutkens commented on #60
Sure, do create the pr 👍

[2016-12-06 12:35] #60 closed

[2016-12-07 06:58] Connorelsea opened #62 "Display Git information"
My idea would be to separate related sections of git info into separate hyperline plugins.

- `git-diff` : Shows the additions and deletions (in # of lines) of the current working directory
- `git-path-status` : Shows stats about the current working directory (is staged, is ignored, is modified, is new)
- `git-branch` : Shows the name of the current branch

I'd be interesting in implementing this

[2016-12-07 07:20] timneutkens commented on #62
@Connorelsea Fine idea. Go for it :shipit:

[2016-12-07 09:27] amandeepmittal commented on #62
@Connorelsea +1

[2016-12-11 18:43] NickTikhonov commented on #62
@Connorelsea great idea - providing a way of moving git information away from the prompt and into the status bar could be useful for a lot of people!

[2016-12-13 09:46] tamoore opened #63 "Rendering Issues in Vim"
I've come across some column rendering issues in vim 8.0 on macOS Sierra.
This was in a `tmux` session, but it also occurs outside the session. You can see the 80 col ruler is misaligned 3/4 page down.

Thanks for hyper, it's an awesome app. Enjoying playing with it.

<img width="1440" alt="screen shot 2016-12-13 at 8 43 52 pm" src="https://cloud.githubusercontent.com/assets/11851685/21135149/e697

[2016-12-13 10:06] timneutkens commented on #63
@tamoore think you have to add this issue to https://www.github.com/zeit/hyper. This is the hyperline repository 👍

[2016-12-13 10:06] tamoore commented on #63
Ha! Sorry! Too many tabs!

[2016-12-13 10:09] #63 closed

[2016-12-13 12:39] timneutkens commented on #63
👍

[2016-12-13 17:04] egeriis commented on #41
It would be neat if there was an ability to write plugins without having to have it added to this core repo. Maybe even have all core plugins in separate modules, e.g. `hypertext-hyperline-battery`.

A feature idea for these plugins would be the ability to act contextually on the current path. Like _git status/branch_ would act only if the current path contains a repo, it could be fun to do plugin

[2016-12-13 17:09] egeriis commented on #41
A convention could be established that hyperline would look for plugins, not only in `lib/plugins` but fall back to look for a module installed through npm named `hypertext-hyperline-{plugin-name}`. Not sure if this is the proper place for this discussion though :)

[2016-12-13 17:18] timneutkens commented on #41
@egeriis hyper has all the plug-in management stuff built in, so we can just built upon that. I'm still working on a rewrite of the codebase to allow this + a lot cleaner code And customisation with css instead of configuration. Just give me a little time. Currently quite busy with other stuff :) your input is much appreciated though, keep it coming 😎

[2016-12-13 17:19] egeriis commented on #41
@timneutkens Feel free to let me know if I can contribute. I think there's some potential to do some work that would benefit here, so I'm prepared to contribute where can.

[2016-12-13 17:21] timneutkens commented on #41
@egeriis be Sure to join the zeit slack And send me a message :)

[2016-12-13 17:22] egeriis commented on #41
What, how, where? :)

[2016-12-13 17:42] timneutkens commented on #41
https://zeit.chat

[2016-12-15 10:30] dotterian opened #64 "Allow creating plugins as separate npm packages"
I'm pretty new in js and react development, so I may be confusing something, but it seems to me that for now so called "plugins" can be defined only in `src/lib/plugins` and thus can't be called "plugins" at all. It's just internal modules of hyperline plugin.
It would be great to have an option to create plugin as separate npm package and define it in hyperline config like:
[code]

[2016-12-15 10:40] timneutkens commented on #64
Please see https://github.com/NickTikhonov/hyperline/issues/41

[2016-12-15 10:41] #64 closed

[2016-12-15 22:14] gholtslander-va opened #65 "Hyperline makes switching between tabs really slow"
I think this is because whenever I switch between the tabs, Hyperline recalculates all of the values such as RAM being used (and how much there is, for that matter) so that it can display itself.

I had to remove the extension. But maybe instead I'll try and hack on a fix for it.

[2016-12-16 07:44] timneutkens commented on #65
Hmm I'll check it out. Currently rewriting hyperline. So if you could Wait for that <3

[2016-12-16 13:55] gholtslander-va commented on #65
Sounds good, and I'll hold off on any further investigations for now 😄

[2016-12-16 13:55] #65 closed

[2016-12-16 21:09] Pangoraw commented on #41
Good idea ! Because, for exemple my temperature plugin is vulnerable to `yahoo API` updates (it has already been broken twice) so I don't know if it should be part of the main repo.

[2016-12-20 21:52] luangch opened #66 "Option to set the position."
Need an option to pull it to the bottom right of the window.

[2016-12-24 22:19] mxtetrachord opened #67 "error when specifying any config in .hyper.js."
hey! i'm getting the following error when i specify anything in `hyperline` config in `.hyper.js`., even when thee `hyperline` is copied and pasted from the README. here's my conf file:

[code]

opened dev tools in the app, and got the following error:

`Uncaught TypeError: Cannot read property 'options' of undefined` from `hyperline.js:331`.

thanks!

[2016-12-24 22:40] lcrossan commented on #67
did some more testing. it looks like the problem is just when i specify

[code]

in my `.hyper.js`. digging into the source now :)

[2017-01-07 06:54] BirkhoffLee commented on #66
+1

[2017-01-07 06:56] BirkhoffLee opened #70 "hyperline covers my terminal content"
as the picture, see the last line

![screen shot 2017-01-07 at 2 54 52 pm](https://cloud.githubusercontent.com/assets/8148095/21740098/6306f7b6-d4e9-11e6-86f0-da6e337eea9d.png)

[2017-01-10 01:10] ashrithr commented on #70
Same here.

[2017-01-10 01:10] ashrithr commented on #66
+1

[2017-01-10 06:52] timneutkens commented on #70
@BirkhoffLee Could you try this in your `~/.hyper.js`: `padding: '12px 14px 18px 14px'`

[2017-01-10 06:53] timneutkens commented on #70
We'll implement a new design in the new version. I'll make sure it's fixed 👍

[2017-01-10 06:54] timneutkens commented on #66
Will add this to the new version 👍

[2017-01-10 09:09] BirkhoffLee commented on #70
@timneutkens Adding `padding: '12px 14px 18px 14px'` to `~/.hyper.js` is working. Thanks for the workaround.

[2017-01-10 10:42] timneutkens commented on #70
@BirkhoffLee 👍

[2017-01-10 10:43] timneutkens commented on #70
I'm keeping this open for people having the same issue / as a reminder till I fix it 👍

[2017-01-20 09:55] littleStudent commented on #70
just ran into this issue. The padding at the bottom varies depending on the configured font + font-size.

[2017-01-22 01:53] piclemx commented on #41
That could be cool to put the time!

[2017-01-24 18:40] gabrielboliveira opened #72 "Not able to change Background Color"
No matter which color I configure, it always keeps a black background.

I'm using [cobalt2 theme](https://github.com/wesbos/hyperterm-cobalt2-theme), which changes the terminal background color to `#193549`.

Tried to change both color and background attribute, with no success.

![hyperterm with background](https://cloud.githubusercontent.com/assets/11093090/22261240/5041e88a-e253-11e6-82e1-e5d64f

[2017-01-24 18:59] timneutkens commented on #72
Hi, could you try the develop branch? https://github.com/Hyperline/hyperline/tree/develop

[2017-01-24 20:07] gabrielboliveira commented on #72
@timneutkens looks like it fixed, seems very different. But the plugin keeps failing with a "react" issue:

![hyperline react issue](https://cloud.githubusercontent.com/assets/11093090/22264649/e9471ea4-e25f-11e6-9f13-a90313737b46.png)

[2017-01-24 20:12] timneutkens commented on #72
Hmm that's interesting. I'll have a look into that!
Yeah I'm doing a full rewrite. Merging with https://github.com/henrikdahl/hyper-statusline and adding custom plugins, so you'll be able to create your own Hyperline plugins 🔜  👍

[2017-01-25 00:08] gabrielboliveira commented on #72
That's nice! I liked the new interface. Give me a heads up when a new update comes, I'll test it

[2017-01-25 05:40] timneutkens commented on #72
Thanks!

[2017-01-26 16:02] timneutkens commented on #37
Fixed in the `develop` branch.

[2017-01-26 16:02] #37 closed

[2017-02-10 00:21] slajax opened #73 "hyperline covers vim-airline"
![e6f30be0961b28864474a11d74bbf45e _image 202017-02-09 20at 204 18 06 20pm](https://cloud.githubusercontent.com/assets/18702/22808944/c3195978-eee3-11e6-91aa-ca74a5025ec8.png)

Is there a way to tweak this so it's not always floating absolute?

If I open developer pane, it seems to align properly.

I'm using agnoster theme with vim-solarized and a handful of plugins from vim-spf-13

[2017-02-10 00:37] slajax commented on #73
Added the padding mentioned in #70 and it seems to be working better now after a few restarts.

[2017-02-10 00:37] #73 closed

[2017-02-15 00:33] andrewmclagan opened #74 "Cannot change the fontSize or background-color"
[code]

[code]

[code]

My configuration files looks like:
[code]

[2017-02-23 21:23] designMoreWeb opened #75 "Not showing up"
Hyperline is not showing up i have installed it and have configured it however doesn't show up in the console.

module.exports = {
  config: {
    // default font size in pixels for all tabs
    fontSize: 15,

    // font family with optional fallbacks
    fontFamily: 'Miso Light,Hack, "DejaVu Sans Mono", "Lucida Console", monospace',

    // terminal cursor background color and opacity (hex, rgb,

[2017-02-23 22:32] designMoreWeb commented on #75
Main issue is with
<img width="1626" alt="screen shot 2017-02-23 at 5 31 33 pm" src="https://cloud.githubusercontent.com/assets/5986856/23282139/f955c994-f9ed-11e6-8a58-b6f80e4337ce.png">

Public-Ip is not in the github repo

[2017-02-27 09:45] Anahkiasen commented on #62
I tried to take a shot at it with [git-repo-info](https://github.com/rwjblue/git-repo-info) but I bumped into two issues:

1. I'm not entirely sure how to get the cwd from one of the plugin's perspective, looked in the component's context and all but I can't find where that info would be
2. Currently as the components are not tied to the cwd, the components do not re-render when the user changes f

[2017-02-27 10:18] timneutkens commented on #62
@Anahkiasen https://github.com/henrikdahl/hyper-statusline has git info. Take a look at that source 😄, if you're going to add it. Please do it in the `develop` branch.

[2017-02-27 10:36] Anahkiasen commented on #62
Yes that's the plugin I looked at (because originally I thought I could use both but they overlap each other) but as far as I can see it handles this in an entirely different way from the way Hyperline is architectured :/

[2017-02-27 10:39] timneutkens commented on #62
@Anahkiasen me, @NickTikhonov and @henrikdahl have plans to combine the two status lines. Just haven't had time to implement it all 😄 I'll have a look when I get to it :)

[2017-02-27 12:57] henrikdahl commented on #62
I've lacked time as well. I'll also look into it when I find time ✌️

[2017-02-28 07:47] Equinox commented on #57
[This looks extremely promising, though!](https://github.com/sebhildebrandt/systeminformation/commit/b2b9f7928ff9e8786b8fb75e29ff7ebb7c61e4ad)

[2017-02-28 10:59] covertbert commented on #74
According to the docs, the value of `color` is what determines the colour of the bar itself, but that doesn't work for me either.

So +1 for addressing this issue please.

[2017-03-02 02:21] pggalaviz commented on #74
+1

[2017-03-06 16:29] pagameba commented on #41
Docker status (something like https://github.com/adrianmo/powerline-docker)

[2017-03-07 11:17] Sinequanonh commented on #72
Hey @timneutkens! Thanks for your work. I would love to use both hyperline along with hyper-statusline! Where are you at?
Best!

[2017-03-13 09:52] magus commented on #74
The module is not up to date on npm, author needs to push

[2017-03-14 05:47] meffect commented on #57
can you add notes that this plugin doesnt work on windows. I spent a couple hours until I found this

[2017-03-16 16:51] DanielGGordon commented on #57
Yes please add on the top of the README that this is not supported on Windows.

[2017-03-20 22:25] #72 closed

[2017-04-02 11:32] joeyfigaro opened #81 "Not honoring config in hyper 1.3.1"
Using the following config:
[code]

Colors aren't applying, nothing happens on save/hyper reload.

[2017-04-14 13:39] Mobilpadde opened #83 "Doesn't work"
I'm on windows 10.0.14393 Build 14393.

[2017-04-18 19:08] jpmckearin commented on #83
This plugin is not supported on Windows. #57

[2017-04-19 22:43] coleman17 commented on #66
+1 thanks!

[2017-04-25 09:29] kierenj commented on #57
..Works fine for me, with the exception of RAM info.

[2017-04-26 19:37] Keepco opened #84 "Add an option to disable the battery display"
Hello,
sorry if this is already possible (and mentioned somewhere), but I couldn't find something about this.
It would be great if there was a way to disable the battery display, as it's pretty much useless for desktops.

[2017-04-28 17:47] bshibley opened #85 "Display status of remote machine"
I most commonly use Hyper to login to remote systems using mosh.  It would be awesome if the status bar could be configured to show the system status of the remote system (rather than the local system) of the active tab's remote (ssh/mosh/telnet) session.

[2017-05-04 17:13] jose-a-sa commented on #57
For me some times works and other times doesn't

[2017-05-12 16:31] slinto commented on #84
@Keepco just edit a hyperline config.

[2017-05-13 08:19] benjamin-rood commented on #70
@littleStudent You're right, unfortunately. I find that `padding: '.5rem .5rem 1.2rem .5rem'` is 100% safe but kinda ugly.
`padding: '.5rem .5rem .8rem .5rem'` is more reasonable.

[2017-05-24 01:28] zaucy commented on #57
[systeminformation](https://github.com/sebhildebrandt/systeminformation) works (sort of) on windows. I'd close this issue and any problems on windows should directed to the [systeminformation issues](https://github.com/sebhildebrandt/systeminformation/issues).

[2017-05-25 22:30] #49 closed

[2017-05-30 19:15] piclemx opened #92 "Display the current time"

[2017-05-31 00:02] mattwoolnough commented on #57
Continually throws following error in Windows 10:
[code]

[2017-06-03 00:56] avshyz commented on #85
+1. That would be awesome.

[2017-06-03 16:12] avshyz opened #93 "RAM and CPU not updating"
the display of both remains at `0/0` and 0% respectively.
[http://imgur.com/a/zvhpR](url)

working with macos sierra,

[2017-06-03 18:08] #4 closed

[2017-06-10 19:31] CrazyPython opened #94 "Use CPU Load instead of CPU Percentage"
It's a much more useful measure of processor load. The last three numbers of `uptime` show load:

[code]

(5 min, 10 min, 15 min)

[2017-06-21 22:13] BenJP51 commented on #93
+1

[2017-06-21 22:23] BenJP51 commented on #81
+1

[2017-06-26 14:48] piclemx commented on #92
He have it in the beta

[2017-06-26 14:48] #92 closed

[2017-06-26 21:57] snowinferno opened #95 "Lint errors trying to run `npm run build`"
Cloned to try and find out why the npm module didn't include plugins available in GH (e.g. Spotify) and encountered the following error trying to run `npm run build`

[code]

Locally changing line 51 to be `      .catch( () => {` and removing trailing space from line 70 fixed the build and everything appears to work as expected.

[2017-06-28 19:30] basedjux commented on #94
This is already implemented:
https://github.com/Hyperline/hyperline/blob/master/src/lib/plugins/cpu.js#L60

[code]

[2017-06-28 19:37] basedjux commented on #93
Working for me on macOS High Sierra Beta (17A291j)

[2017-06-28 19:40] basedjux commented on #81
Hyper v1.3.3 has been released since this task has been opened, @joeyfigaro have you tried updating since this; any config edits I make are honored by Hyper v1.3.3

[2017-06-28 19:43] basedjux commented on #95
@snowinferno I fixed this in #96, pull and build again.

[2017-06-28 19:44] basedjux commented on #94
Oh I see what you're talking about, my apologies @CrazyPython.

[2017-06-28 19:50] #95 closed

[2017-06-28 19:50] #81 closed

[2017-06-28 19:51] #93 closed

[2017-06-28 20:36] basedjux opened #97 "Expose plugins list to allow user to add/remove plugins."
Something that I'm currently working on but figured I'd put it here is:

Exposing the plugins list to be customizable by the user; currently a user has to open src/lib/plguins/index.js and remove the plugin from the
[code]
list, and then comment out the import statement so the linter won't complain.

I did notice in src/lib/utils/config.js this seems to be an in-dev implementation of what I'm desc

[2017-06-28 20:50] timneutkens commented on #97
@basedjux we can provide each plugin as standalone hyper plugin.

[2017-06-28 20:50] timneutkens commented on #97
@stefanivic has been working on the first. Which will be a boilerplate for the other plugins 👌

[2017-06-28 20:51] timneutkens commented on #97
The latest version of hyperline supports external plugins btw 😄

[2017-06-28 20:51] basedjux commented on #97
Ahh that's how that will be implemented, okay! Cool! I will just wait patiently then for that boilerplate to come along then.

And yeah I did see that with latest ver of Hyper! 😃

[2017-06-28 20:51] timneutkens commented on #97
Feel free to join https://zeit.chat/ and send me a message 👍

[2017-06-28 20:51] basedjux commented on #94
Working on this change right now

[2017-06-28 20:52] timneutkens commented on #94
Amazing 👌 👍

[2017-06-28 22:39] basedjux commented on #85
Working on this implementation.

[2017-06-29 02:22] basedjux commented on #58
This has been revised in #99

Changed from using percentage to using raw decimal value.

[2017-06-29 05:47] #58 closed

[2017-06-29 16:27] basedjux commented on #97
Closing this issue.
@timneutkens and I spoke and his team and himself are implementing something a lot more simple.

[2017-06-29 16:27] #97 closed

[2017-06-29 16:28] basedjux commented on #94
Issue resolved in #99

[2017-06-29 16:30] basedjux commented on #84
@Keepco the only method of removing it right now (that I've found) is going into [src/lib/plugins/index.js](https://github.com/Hyperline/hyperline/blob/master/src/lib/plugins/index.js) and removing ```Battery``` from the default export array, also comment out the import statement for battery:
[code]
If you do NOT do this the linter will complain at you.

[2017-06-29 16:34] basedjux commented on #75
First, what version of NPM are you/did you using/use?

Also, you might try this; Hyper might be mangling the NPM install:

[code]

[2017-06-29 18:42] CrazyPython commented on #94
It looks like this issue has been implemented.

[2017-06-29 18:42] #94 closed

[2017-06-29 19:59] #75 closed

[2017-06-29 19:59] #84 closed

[2017-06-29 19:59] timneutkens commented on #84
Thanks @basedjux, we'll support plugins soon 👌

[2017-06-29 20:01] timneutkens commented on #94
:ok_hand:

[2017-06-30 20:11] forestgagnon commented on #81
@basedjux I am running into this issue on 1.3.3

[2017-06-30 20:13] basedjux commented on #81
Thanks for the report, @forestgagnon. I'll start looking into a fix!

[2017-06-30 20:34] forestgagnon commented on #81
@basedjux really sorry, I actually had a borked config. It's working.

[2017-06-30 20:37] basedjux commented on #81
@forestgagnon not a problem! Glad it's working! 😄

[2017-07-09 05:38] basedjux opened #106 "Figure out why XO is throwing lint error on navigator object"
## Overview
Builder and linter version info:
[code]
* In file: src/lib/plugins/battery.js
* Issue: XO throwing lint error due to absent `navigator` object in import list

If you run `npm run lint` XO will throw an error:
[code]

## Issue
`navigator` is not being accessed despite being inside the `componentDidMount()` and `componentWilUnmount()` methods (see [this article](https://stackoverflow.com

[2017-07-09 05:43] basedjux commented on #106
Sorry for all the title edits, I realized I had botched the title 4 times [go me] 🙌🏻

[2017-07-09 05:48] basedjux commented on #106
Never mind, I realized this is caused by XO doing its job...
`navigator` doesn't have a 'package' so it can't be imported, it's used on runtime.

This is simply XO doing what it's supposed to do, I'm closing this issue.

[2017-07-09 05:48] #106 closed

[2017-07-09 05:49] basedjux commented on #106
I will however, add a quick fix and create a PR.

[2017-07-16 18:39] piotryordanov commented on #66
@timneutkens Is this coming to the new version? :)

[2017-07-16 22:39] basedjux commented on #66
That's the idea @piotryordanov 👍

[2017-07-19 23:49] nikhilesh20 commented on #41
Can we have spotify status like hyper-spotify?

[2017-07-20 05:33] timneutkens commented on #41
@nikhilesh20 that's already there in the beta version 😄

[2017-07-21 11:27] callumisitt opened #110 "Uptime and battery charge not updating"
On Debian 9, uptime and battery charge are stuck at the values they were when Hyper was opened. Opening a new tab refreshes the uptime value but refreshing the battery charge value requires restarting Hyper.

[2017-07-24 15:42] sangdth commented on #62
Please, this feature is awesome.

[2017-07-24 16:34] basedjux commented on #62
@sangdth this feature is being worked on by @henrikdahl and myself.
Henrik has this feature already in a [statusline plugin](https://github.com/henrikdahl/hyper-statusline) of his own so it's mainly the process of getting it ported over to Hyperline.

[2017-07-24 16:44] sangdth commented on #62
Thanks for your fast response @basedjux, I came here after installed the statusline plugin but it was covered by hyperline. Looking forward. Thanks for all your contribution.

[2017-07-24 16:45] basedjux commented on #62
Yeah no problem 😄

And yeah you can't have them both running, it has to be one or the other for right now.

[2017-07-24 21:38] mackelito commented on #70
Should not the markup be placed in the <footer> ?

[2017-08-04 22:52] basedjux commented on #70
@BirkhoffLee
Fix created in #111
🎉

[2017-08-05 14:13] ortonomy opened #112 "List which plugins are working"
Looking at code, you have a few plugins like:
[code]

but when I add these to they ``hyper.js`` config as so:

[code]

Breaks loading of hyper.js

I'm on macOS Sierra latest

[2017-08-05 17:04] timneutkens commented on #112
@ortonomy the beta version (with plugins) is a bit different from the currently released version.

[2017-08-05 17:08] #112 closed

[2017-08-08 15:19] nemo commented on #70
@basedjux tried updating and I still get it o_O

[2017-08-08 15:55] basedjux commented on #70
Really, @nemo?
Hmm. Can you post a screenshot of the issue, please? Thanks 😄

[2017-08-23 13:34] kamisamamizu commented on #57
It is surprising to see this issue.
Hyperline has been working almost perfectly for me.
Only issue I have is that the network info is always at 0kB/s, but the ram, uptime, CPU and battery indicators work.

[2017-08-23 13:45] timneutkens commented on #57
@kamisamamizu 💯 nice

[2017-08-27 01:06] ericmarkmartin opened #113 "Leftmost divider shows"
There shouldn't be a divider for the leftmost plugin, but there is one, as can be seen below, both through the image itself and the devtools (`border-left-width` is `1px`).
<img width="1009" alt="screen shot 2017-08-26 at 9 04 40 pm" src="https://user-images.githubusercontent.com/5509414/29746258-403568d4-8aa2-11e7-9acf-0520885d2770.png">

[2017-08-27 07:36] basedjux commented on #113
Hmm. I'll take a look into this.
Should have a fix for this by tomorrow!

[2017-08-27 21:52] ericmarkmartin commented on #113
Thanks. I'm happy to help out if needed. It might also be worth mentioning that I'm running `hyperlink-magus` because I heard that was just a newer release (even though it seems not to have the Spotify plugin).

[2017-08-28 07:07] timneutkens commented on #113
@ericmarkmartin we're working on a new version of hyperline in master 👌

[2017-08-29 12:00] dzienisz opened #114 "WMI Provider Host"
I just notices that hyperline plugin create WMI Provider Host on my Windows 10 PC and use a lot of processor power for literally nothing.

![2017-08-29 13_58_25-menedzer zadan](https://user-images.githubusercontent.com/3521624/29819748-47a32594-8cc2-11e7-95c2-1280614b7524.png)

Also Antimalware Service is active during that WMI Provider Host time.

[2017-08-29 15:52] basedjux commented on #114
Wow.. That's a serious amount of CPU usage.
Can you reply with your Windows 10 version and Hyper version? That will help me debug this.

Thanks!

[2017-08-29 15:54] dzienisz commented on #114
The nevewst windows and nevewst hyper (current)

29.08.2017 5:52 PM "Corbin Matschull" <notifications@github.com> napisał(a):

[2017-08-29 16:06] basedjux commented on #114
Okay current versions of both, not a problem.
Thanks.

I will work on getting this debugged with a windows workstation.

[2017-09-04 01:46] Xemiru commented on #114
I've narrowed it down to the `network` plugin causing the issue by isolating each of the stock plugins. When I launch Hyper with Hyperline configured to use everything _but_ `network`, this issue does not occur.

[2017-09-04 03:16] basedjux commented on #114
Hmm very interesting.
I'll do some research on WMI Host and how it inter-operates with the network plugin.

Thanks @Xemiru

[2017-09-04 11:47] Cycymomo commented on #114
+1 @Xemiru
Same here for your information on Windows 7

[2017-09-11 18:08] JohnAllen opened #116 "How to change the color of the line?"
Mine is yellow.  I updated the config with `hyperline: {color: 'black'}`.  Still yellow. How can I change the color?

[2017-09-12 14:02] ilyador opened #117 "How do I reorder or remove items?"
I want to remove the battery on a desktop, how?

[2017-09-12 23:08] MAPESO opened #118 "Delete "hyperline@beta""
It doesn't work and can confuse the user between using **"hyperline@beta"** or **"hyperline"**.

@timneutkens

[2017-09-14 06:55] timneutkens commented on #118
Fixed! 🙏

[2017-09-14 06:55] #118 closed

[2017-09-14 23:52] SpaceHexagon opened #119 "Hyper causes (WebVR) Chromium (and eventually hyper) to freeze when hyperline is enabled"
This starts happening repeatedly after a few minutes of both apps running:
[code]
After this has occurred, new tabs cannot be opened:
![New Tab Error](https://spacehexagon.com/app/external/Screenshot_145.png "Logo Title Text 1")

Windows 10 Home Version 1703 Build 15063.540
hyperline@0.6.1
Hyper 1.4.4
[Hyper Config](https://gist.github.com/SpaceHexagon/4c38885ae20cc3377f1f7d6c7f047d28)
Chromium Ve

[2017-09-19 07:17] iblazhko commented on #114
Same problem for me.
Windows 10 Pro 64-bit Version 1703, OS Build 15063.608
Hyper 1.4.6

Any chance to make refresh less frequent? I could not find any options to do this.

[2017-09-20 06:42] ericmarkmartin commented on #113
I could also probably deal with this if someone told me where they would like it to be fixed. I'm not too familiar with the structure of the project as it stands rn.

[2017-09-20 17:37] seriouslyfluffy opened #120 "hyper 2.0 support"
Got this when hyper launch :cry:

![screenshot from 2017-09-20 20 35 51](https://user-images.githubusercontent.com/7502071/30658454-5f77f11c-9e43-11e7-8273-47e0a9c801a0.jpeg)

[2017-09-21 21:06] basedjux commented on #120
Oh well that's very interesting.
I'll take a look into it and report back.

Thanks!

[2017-09-21 21:08] basedjux commented on #114
Currently @iblazhko the only method to change refresh rate of the network plugin is to change:

[code]

We're working on a LOT better method of doing this coming in a new update.

[2017-10-03 08:33] fosron opened #122 "Can't enable other plugins"
Added this to Hyper config

[code]

And i'm getting

[code]

[2017-10-09 04:49] Chinese1904 commented on #120
when are you going to make this accessible for 2.0.* users?

[2017-10-10 07:29] basedjux commented on #120
@Chinese1904, with #121, it will add Hyper v2 support; just have to wait for someone with write access to repo to merge it into master.

[2017-10-11 01:02] Chinese1904 commented on #120
That's why I was asking. I might fork this repo and make it usable again for v2 if this project seems dead.

[2017-10-11 02:41] basedjux commented on #120
Haha @Chinese1904 I should ask them yes. 😉

[2017-10-11 02:42] basedjux commented on #120
And for the meantime.. Yeah you could fork it.. Use the changes in #121 and then once we get it merged on our side you can use it that way.

[2017-10-11 06:37] #120 closed

[2017-10-11 06:38] timneutkens commented on #120
@Chinese1904 if you want to help maintaining that'd be great. Lets talk on https://zeit.chat 🙌

[2017-10-11 08:18] seriouslyfluffy commented on #120
thanks guys!)

[2017-10-19 16:07] jerodg opened #124 "Win7 100% CPU usage"
Using windows 7 when I load the plugin, cpu usage spikes to 100% and stays pegged, however, no particular process can be found in task manager to associate that usage with.

[2017-10-19 16:17] basedjux commented on #124
Hmm could be related to #114 🤔

You can try modifying `src/lib/plugins/network.js:L49` thus:
[code]

I'm currently working on a fix that doesn't involve having to modifying the actual code.

[2017-10-20 16:35] mAsterEihaB opened #125 "Line color not changing"
Hey there :)

I've been facing an issue where I can't change the color of the line from black, I don't know what causes the issue and I hope you take a look at it.

[2017-10-20 18:15] basedjux commented on #125
I'm assuming you mean the background color?
Behind all of the plugins?

[2017-10-20 19:51] mAsterEihaB commented on #125
yeah the color of the line itself

[2017-10-20 20:04] JohnAllen commented on #125
Mine is just yellow.  Won't change no matter the color I specify.

[2017-10-30 16:08] Emanon42 opened #126 "hyperline overlaps with other plugin"
![image](https://user-images.githubusercontent.com/21653733/32181481-5a2cb766-bd8c-11e7-8011-f3373624c190.png)
I am using hyper-1.4.8-64bit on ubuntu 16.04LTS, I install hyperline and hyper-statusline but the display of these two plugins conflict.

[2017-10-30 16:11] Emanon42 commented on #126
![image](https://user-images.githubusercontent.com/21653733/32181669-d805a56c-bd8c-11e7-9a1b-464b29927650.png)

This is the effect of display when I only apply hyper-statusline.

[2017-10-30 16:12] basedjux commented on #126
Well..
`hyper-statusline` and `hyperline` serve two purposes as of right now.
However! That being said, @henrikdahl and I are working to integrate `hyper-statusline` into `hyperline`.

That's a work in progress.

[2017-11-02 15:28] archenroot opened #127 "Error: Cannot find module 'react'"
[code]

[2017-11-02 15:35] archenroot commented on #127
After I added react latest version available into "dependencies" block I got another error:
[code]

[2017-11-02 15:43] archenroot commented on #127
I am on branch hyper-2.0.4,maybe I should install latest dev branch.

[2017-11-03 10:52] TheSETJ opened #128 "More customization"
It's good if hyperline be more customizable. As far as I've investigated, I can't change font size, padding (or margin), border color and height of hyperline.

![image](https://user-images.githubusercontent.com/10893088/32370383-0c97f6fa-c0a2-11e7-8940-1cbc0c1a1ab8.png)

In my opinion, current visual of hyperline is not consistent.

I tried to edit hyperline.js, but it resets everytime I open Hype

[2017-11-04 07:41] gulakov opened #129 "hyper 2.1 breaks it cannot find React.proptypes"
bundle.js:1 TypeError: Cannot read property 'string' of undefined
    at hyperlineFactory (/home/alex/.hyper_plugins/node_modules/hyperline/dist/hyperline.js:223:33)
    at decorateHyper (/home/alex/.hyper_plugins/node_modules/hyperline/dist/hyperline.js:124:52)

[2017-11-04 14:09] erik-helmers commented on #129
Hello ! I have the same problem here... On Ubuntu 16.04 LTS, after updating Hyper to 2.1.1... But it was working fine before the update

[2017-11-06 16:09] brunobmartins commented on #125
I'm also having the same trouble...

I've added the following to ~/.hyper.js

`hyperline: {
    color: 'white'
  }`

but it didn't worked.
I've also tried "different ways to pronounce white" with no luck...

[2017-11-09 19:24] ctuffli opened #130 "hyperline does not load in 2.1.1"
System is Windows 10 (Version 10.0.16299, Build 16299)
Hyper is 2.1.1 (canary)
Plugins:
hypersolar-dark (2.0.0),
hyperline (0.6.1)

When launching application, Hyper displays the message:
[code]

Developer Tools show:
[code]

[2017-11-09 19:27] ctuffli commented on #130
.hyper.js:
[code]

[2017-11-09 20:43] ctuffli commented on #130
Apologies, I missed the "doesn't work in Windows"

[2017-11-09 20:43] #130 closed

[2017-11-12 19:01] ymatuhin commented on #129
Same on Mac OS High Sierra

[2017-11-13 05:02] k9yosh commented on #114
I had the same issue, waiting for a fix. It's a really useful plugin. :)

[2017-11-14 16:12] jstnbchnn opened #132 "TypeError: Cannot read property 'string' of undefined"
When opening Hyper after installing they hyperline plugin I get the following error. Any one have an idea of how to go about fixing this?

This is on OS X El Capitan

![image](https://user-images.githubusercontent.com/15064474/32790503-9e83e690-c92c-11e7-8749-bfde350c418d.png)

[2017-11-14 16:41] cgmx commented on #132
#131 fixes this.

[2017-11-27 23:23] e-e opened #133 "Win10 CPU percentage not zero-padded"
Zero-padding on the CPU plugin doesn't seem to be working.

Hyper v1.4.8
hyperline v0.6.1
Windows 10 Pro | Version 1709 | OS Build 16299.64

[2017-12-03 06:56] pratikone commented on #124
I am facing the same issue. Turning every setInterval to 5000 or more solves it. Even though there might be a bug, but I think having 500 ms for CPU status might be un-needed in most of the cases. Do you think changing it to 1000ms or more should be a good default for most of the users ?

[2017-12-04 10:14] #129 closed

[2017-12-04 16:25] #132 closed

[2017-12-04 16:44] mssngr opened #134 "Error: Cannot find module 'prop-types'"
Does not load and throws an Error in dev tools:
[code]

[2017-12-04 18:05] cgmx commented on #124
@pratikone I agree, I think 1k-5k milliseconds would be sufficient. I don't see a need to have the network plugin update every 0.5 seconds.

[2017-12-05 04:58] db369 commented on #134
I have the exact same error on Hyper 1.4.8.  I tried the latest pre-release of Hyper as well, but had the same error.

[2017-12-05 21:24] bit-cmdr opened #135 "Cannot find module 'hyper/component'"
Getting an error at startup/reload

[code]

This just started yesterday. I tried closing and relaunching, now I have no colors for hyperline, previously each component was color-coded, and I have a Spotify icon and a Party Parrot gif. While waiting for a fix, is there any way to disable the Spotify and Party Parrot?

[2017-12-06 00:15] MilesOkeefe commented on #135
This can be fixed by downgrading from yesterday's 1.0.0-beta.1.1 release to the previous, 0.6.1.

So just edit your ~/.hyper.js file and change

to

Not sure why this beta got pushed upstream, seems totally broken.

[2017-12-06 02:16] gabemeola commented on #134
yup I have to manual add prop-types to `.hyper_plugins/` dir

[2017-12-06 02:17] gabemeola commented on #127
Looks like it isn't a dependency in package.json https://github.com/Hyperline/hyperline/blob/48381dd6f906599b8ad083d55bb04622127b963c/package.json#L28

[2017-12-06 02:24] gabemeola opened #136 "Hangs Spotify Closing ~Beta~"
The new spotify now playing tab is sweet.
Unfortunately it does prevent closing of spotify. :(

Repo:
1.  Open Hyper (Should say not running for Spotify)
2. Open Spotify
3. Try to close Spotify (should close then re-open in the background. You can still play / pause after re-open)

[2017-12-06 15:58] bit-cmdr commented on #135
Confirmed that it does indeed fix the issue. Thanks so much!

[2017-12-06 15:58] #135 closed

[2017-12-07 02:32] usrbowe commented on #134
@gabemeola with installing `prop-types` it started working, but it continued complaining about other missing packages, like `react` and the style is kinda broken.

[2017-12-07 14:00] mloberg commented on #127
Using version "0.6.1" fixed Hyperline for me. Use `hyperline#0.6.1` instead of `hyperline` in your plugins list.

[2017-12-07 17:09] NickTikhonov commented on #134
Hey all - this was caused by a new version that switched the plugin over to using `prop-types`. Did a rollback to the old version, hopefully everything should be fine. Will look into a better fix soon!

[2017-12-09 00:14] kevintongg opened #137 "Vertical/Horizontal Scrollbars"
Updated to the new hyperline with the new design and I now have scrollbars.

[2017-12-09 05:44] rkichenama opened #138 "Linux support?"
On linux mint 18.3 with hyper canary, and when I install hyperline, I get "couldn't find binary sh" error on install and when I set up a local plugin, it doesn't even load. Any help would be appreciated.

[2017-12-11 09:00] rakeen opened #139 "Use version tags and release in github"
- [ ] Use version tags in git
- [ ] Release in github alongside npm

Currently there is no way to check which version contains which code.

[2017-12-12 13:23] rhogeranacleto commented on #138
So do I

[2017-12-12 15:23] Mohamed3on commented on #127
Same issue here

[2017-12-14 13:15] RoobieBoobieee commented on #137
Same here on W10.

[2017-12-14 13:57] sanfilippopablo commented on #134
@NickTikhonov I keep getting this error while installing the plugin, how can I roll back the version?

[2017-12-15 16:02] ben-alkov commented on #138
+1

[2017-12-15 21:39] AtomicCoding opened #140 "Plugin "hyperline" failed to load (Could not find module /hyper/component)"
After installing Hyperline, this error above is given and weird scrollbars show up on Hyper.
![screen shot 2017-12-15 at 1 37 30 pm](https://user-images.githubusercontent.com/25597810/34061474-63f7ee16-e19d-11e7-8d4f-3ce58a7fe673.png)

[2017-12-15 21:46] systemovich commented on #127
@mloberg's suggestion works, but then the prompt is missing.

[2017-12-17 18:08] snorwin commented on #140
+1

[2017-12-17 18:09] snorwin commented on #139
+1

[2017-12-18 16:37] breferrari commented on #140
Also happening to me, fresh install

[2017-12-19 17:34] stdavis commented on #140
I'm having the same issue as well. Here's the output from the dev tools:
![image](https://user-images.githubusercontent.com/1326248/34170445-1a33c35a-e4a8-11e7-98ab-fc1882f28a52.png)
Maybe you are missing a dependency reference in `package.json`?

[2017-12-20 14:55] Brhernann commented on #140
some solution?

[2017-12-22 03:38] Grimones commented on #137
Same here on W10 too

[2017-12-22 19:30] jacec commented on #134
I had the same issue so rolled back (as suggested by @mloberg in issue [Error: Cannot find module 'react'](https://github.com/Hyperline/hyperline/issues/127) "Using version "0.6.1" fixed Hyperline for me. Use hyperline#0.6.1 instead of hyperline in your plugins list.")

[2017-12-22 21:18] sanfilippopablo commented on #134
@jacec Thanks!

[2017-12-23 04:17] Malagari commented on #140
First time using Hyper and having the same issue.  Glad to see it's not just me.

[2017-12-26 17:21] Aarbel opened #141 "How to remove Spotify and the Parrot ?"
Hi Hyperline team !

How could i remove some options like Spotify and the Parrot ? Thanks ! :)

![image](https://user-images.githubusercontent.com/25119847/34361347-b0136cba-ea69-11e7-83c6-397e2ae54d81.png)

[2017-12-27 11:36] krzema12 commented on #140
A duplicate of #134. Here's a mitigation to get it working quickly: add `prop-types` plugin:

[code]

[2017-12-28 03:05] ButchAnton commented on #127
I was experiencing the same problem.  After forcing hyperline version 0.6.1, things started working again.  If it doesn't immediately work, make sure you delete the .hyper_plugins directory and do a full reload of the plugins from within hyper.

[2017-12-28 06:35] kidchenko commented on #127
+1

[2017-12-28 07:30] alqahtani commented on #141
Me too :(
at the last I installed the plugin locally in `~/.hyper_plugins/local` and edited the `src/lib/plugins/index.js` and commented out **Spotify** and **Party Parrot** and added **uptime**. also IP does not work for me and gave me (**?.?.?.?**) so I commented it too.

---

this is my `src/lib/plugins/index.js` now:

[code]

![screenshot](https://image.ibb.co/dSLTEw/Screen_Shot_2017_12_28_at_

[2017-12-29 11:01] fiso commented on #140
Yeah me too.

[2017-12-29 13:25] elliotd123 commented on #140
Going to ~/.hyper_plugins and:

`npm install prop-types`

Worked for me. However, it still complains about react.

[2017-12-30 07:59] ryuheechul commented on #140
I had the same issue and now it works for me

#### Here is what I think it was why
I think it's because of the old versions of npm and node.

#### Here is what I did to make it work
1. upgrade `node` and `npm` to latest version (mine is v9.3.0 for node and 5.6.0 for npm)
2. `cd ~/.hyper_plugins && rm -rf node_modules && npm install`
3. quit and re-launch hyper

[2017-12-30 21:50] timneutkens commented on #41
Going to close this.

[2017-12-30 21:50] #41 closed

[2017-12-31 23:40] tehp commented on #140
Did not work for me @ryuheechul.
Only "fix" I could find is using a previous version: `hyperline#0.6.1`.

[2018-01-02 06:59] einfallstoll opened #142 "Beta versions should be tagged as beta on npm"
By default npm installs `hyperline@latest` which is currently `1.0.0-beta.1.2`. It would make more sense to tag `0.6.1` as `hyperline@latest` and `1.0.0-beta.1.2` as `hyperline@beta`.

This should do the trick, devs:

    npm dist-tag add hyperline@0.6.1 latest
    npm dist-tag add hyperline@1.0.0-beta.1.2 beta

This would fix #140, #134 and #127

[2018-01-02 16:41] julien-HAM commented on #134
Add prop-types to the plugins

`...`

[2018-01-04 23:24] jonjahr commented on #141
Is the party parrot a joke?  I appreciate party parrot, but cmon I don't wanna look at him all day.

[2018-01-05 10:47] AndKenneth commented on #137
Same issue on macOS High Sierra

![screen shot 2018-01-05 at 11 44 49 pm](https://user-images.githubusercontent.com/5133959/34606053-c0c1bfe2-f272-11e7-836f-7698ca454a8d.png)

[2018-01-05 10:50] AndKenneth commented on #140
adding `prop-types` to the plugins section hyper config file fixed this for me. I also installed it via NPM globally (as my first attempt to fix) but I'm not sure if that matters.

[2018-01-05 10:52] AndKenneth commented on #142
For anyone scanning this, adding `hyperline#0.6.1` to the plugins section of your hyper.js file will roll you back to a working version. Hope the above is implemented.

[2018-01-12 15:48] SanketDG commented on #138
Yup, happens with me too.

[2018-01-12 15:56] Gevie commented on #137
If you use [hyper-stylesheet](https://www.npmjs.com/package/hyper-stylesheet) you can add the following css to temporarily fix this issue.

[code]

[2018-01-12 19:43] rhogeranacleto commented on #138
I tried version `hyperline#0.6.1` and works!

[2018-01-15 10:52] Jonic commented on #141
:+1: The Spotify thing might be useful for people that use Spotify, but is just using system resources for people that don't, and the parrot is just distracting! It's a fun idea, but maybe only suited to an Easter Egg?

It feels like Hyperline might now have enough stuff bundled in it that a config object to enable/disable these things would be useful. I might have a go at a PR for that.

[2018-01-20 11:28] tbsvttr commented on #127
Same issue here!

[2018-01-25 11:05] Temmermans opened #144 "Hyperline cannot render when installed"
I get the following error:
![image](https://user-images.githubusercontent.com/14975555/35385132-ab43333a-01c7-11e8-9c2b-0818bf4630a4.png)

I took a quick look inside package.json and saw it is indeed not listed as a dependency. I guess that will fix it.

[2018-01-27 15:30] xeijin commented on #127
Still broken for me too, adding #0.6.1 resolves for now...

[2018-02-01 14:23] river226 commented on #141
Agreed, a quick config would be nice I don't use spotify, sort annoying that it's just there. Also the party parrot is super annoying and distracting... maybe just kill that.

[2018-02-07 14:40] gluons commented on #137
Same on Linux Mint 18.3

[2018-02-16 20:59] arshdkhn1 commented on #141
If you want to hide it then you can do the following things -

1. Install [hyper-stylesheet](https://github.com/chrisdothtml/hyper-stylesheet)

Add to the plugins array in your .hyper.js:
[code]

2. Add following lines to `~/.hyper.css` after `/* #window */` comment line.
[code]

You can inspect the hyperline component in devtools to hide whatever component that you want to hide.

[2018-02-19 18:09] eshanmind commented on #128
I agree 100%

[2018-02-28 10:07] yukisaibai commented on #144
please merge above PR 😢

[2018-03-05 15:15] #144 closed

[2018-03-06 13:33] lonesome-rider commented on #57
It seems to work for me, but I have two freaking scrollbars all the time.
By the way, the little dancing bird and the spotify icon are normal?

[2018-03-06 19:51] NickTikhonov commented on #141
This has been fixed with https://github.com/Hyperline/hyperline/pull/146

[2018-03-06 19:52] #141 closed

[2018-03-06 19:52] #134 closed

[2018-03-06 19:53] #18 closed

[2018-03-06 19:53] #36 closed

[2018-03-06 19:54] #57 closed

[2018-03-06 19:54] #62 closed

[2018-03-06 19:54] #66 closed

[2018-03-06 19:55] #67 closed

[2018-03-06 19:55] #70 closed

[2018-03-06 19:57] #74 closed

[2018-03-06 19:57] #83 closed

[2018-03-06 20:09] #140 closed

[2018-03-06 20:09] NickTikhonov commented on #117
This is fixed with the latest version :)

[2018-03-06 20:09] #117 closed

[2018-03-06 20:10] #122 closed

[2018-03-07 21:58] tehp commented on #140
Is this fixed? Why is the issue closed?

[2018-03-07 22:03] keremcankabadayi commented on #140
<img width="1259" alt="screenshot at mar 08 01-02-00" src="https://user-images.githubusercontent.com/23381187/37120787-698f40e4-226c-11e8-890b-ee85e16817c1.png">

not fixed. line is working perfectly but i get error when i start the hyper

[2018-03-07 22:06] keremcankabadayi commented on #137
same macOs `10.13.2 Beta (17C79a)`

[2018-03-09 05:22] bhavikbhavsar commented on #127
facing same issue!

[2018-03-10 00:39] marshalhayes commented on #85
+1 in 2018 😄

[2018-03-12 10:43] TotomInc commented on #137
Looks like hyperline add by default a `margin: 10px 10px 0 10px` and sets itself with a `position: absolute` at `bottom: 1px`, you can override this by adding in your terminal CSS like @Gevie said:

[code]

Horizontal and vertical scrollbars will go away:

![image](https://user-images.githubusercontent.com/9285210/37279136-2f28caf2-25ea-11e8-8e96-52dd457bc33c.png)

[2018-03-12 10:50] TotomInc opened #148 "Add git branch module"
Add the support to show the current git branch in the status bar.

[2018-03-12 17:59] keremcankabadayi commented on #148
+1

there is a [plugin](https://www.npmjs.com/package/hyper-statusline) for that. But i want to combine these two.

[2018-03-12 18:16] TotomInc commented on #148
@keremcankabadayi that was my initial idea, combine what `hyper-statusline` does to have only one module which add a status-bar. Having 2 status bar at once is not really esthetic. I'll see what I can do for a PR. 😄

[2018-03-15 19:32] tsaiDavid commented on #140
My line shows up (albeit with padding issues) and I get the following issue:

[code]

I tried removing the `package-lock.json` as some had suggested and reinstalling. The only other packages I have are:

`hyper-blink` and `hyperterm-base-16-ocean`

[2018-03-15 19:49] tsaiDavid commented on #142
This is a sensible suggestion, properly tagging here would prevent a whole lot of issues showing up!

[2018-03-16 09:21] dragonJACson opened #149 "OpenCollective causes error in Archlinux"
Hyper Version: 2.0.0.canary.14

hyper.js:
[code]

Using `Hyper -v`, it shows:
[code]

Related Link:
https://bbs.archlinux.org/viewtopic.php?id=168479

[2018-03-16 17:23] mwdiers commented on #140
I just installed today. This is still a problem. However, this worked for me:

`cd ~/.hyper_plugins && rm -rf node_modules && npm install`

Followed by a full-reload.

[2018-03-17 16:15] #85 closed

[2018-03-17 16:15] #110 closed

[2018-03-17 16:15] #113 closed

[2018-03-17 16:15] #114 closed

[2018-03-17 16:15] #116 closed

[2018-03-17 16:15] #119 closed

[2018-03-17 16:15] #124 closed

[2018-03-17 16:15] #125 closed

[2018-03-17 16:15] #126 closed

[2018-03-17 16:15] #127 closed

[2018-03-17 16:15] #128 closed

[2018-03-17 16:15] #133 closed

[2018-03-17 16:15] #136 closed

[2018-03-17 16:15] #137 closed

[2018-03-17 16:15] #138 closed

[2018-03-17 16:15] #139 closed

[2018-03-17 16:15] #142 closed

[2018-03-23 17:46] mwdiers opened #150 "Hyperline will not load in 2.0.0-canary.14"
On 2.0.0-canary.14 (latest beta at present), other plugins load fine, but Hyperline will not load.

Attempted to delete ~/.hyper_plugins and restart, but that did not resolve the problem. If I revert to 1.4.8 using the same config, Hyperline loads correctly.

Platform is macOS 10.13.3

Developer Tools console shows:
[code]

[2018-03-23 17:47] mwdiers commented on #150
Config as follows:

[code]

[2018-03-25 08:54] chabou commented on #150
@timneutkens @NickTikhonov @timothyis
More information about this.

From my debug, I think that `hyperline` has never worked with our canary releases.
It is broken from a long time.
Even in v1.4.8, we have an error:
[code]

In our v1.X, plugin with error was loaded anyway but not anymore.

This error is due to some `hyper` internals import:
https://github.com/Hyperline/hyperline/blob/246c676c7e29e

[2018-03-25 14:40] neojski commented on #149
I have the same problem. I have just installed hyper using the "contributing" guide and hyperline doesn't work.

[2018-04-03 13:56] goldquest opened #152 "Modules can't be found in Hyper 1.4.8"
On start of Hyper, a notification pops up, that `react` couldn't be found.
I cloned this plugin locally and introduced react, but now it says, that hyper/component is missing.

I guess hyper doesn't provide these packages anymore?

https://github.com/Hyperline/hyperline/blob/3346645271179e2b6eae00e587a9883cdf4ea52d/webpack.config.js#L13

[2018-04-03 20:58] scerelli commented on #152
I get this too

[2018-04-04 09:16] goldquest commented on #152
Ok. Apparently hyper hijacks the module loading system: https://github.com/zeit/hyper/blob/1.4.8/lib/utils/plugins.js#L21. The error thrown here seems to be a bug of hyper.

[2018-04-04 09:18] goldquest commented on #150
I don't know about canary, but in 1.4.8 the module loading seems to be successfully hijacked: https://github.com/zeit/hyper/blob/1.4.8/lib/utils/plugins.js#L21, but an error is still thrown, which is just a bug, I think.

[2018-04-05 02:53] RyosukeCla commented on #140
This isnt fixed.

- Hyper 1.4.8 (stable)

[2018-04-05 13:59] chabou commented on #150
@goldquest thank you to have pointed this out.

The only reason to expose some internals was https://github.com/zeit/hyper/issues/764
But this is not necessary anymore (Component class doesn't exist anymore due to `styled-jsx` migration).

I will try to see if other plugins would be impacted by this removal.

[2018-04-09 18:00] sfluor opened #153 "Add local IPs to the status bar too"
Hello !

I think it would be cool to also have local IPs displayed in the status bar (it would avoid doing checking by hand).

I would be glad to add it !

[2018-04-10 11:15] kondr1 commented on #140
Same problem.  @NickTikhonov  Why you closed this issue?

[2018-04-10 19:06] Brhernann commented on #140
some solution?

2018-04-10 8:15 GMT-03:00 Konstantin Kondr <notifications@github.com>:

[2018-04-11 00:31] R0uter commented on #152
@abhishekchotaliya

It worked! thx.
But some how, hyperline do not read config `hyperline: { plugins: [ "ip", "cpu", "spotify" ] },`  :(

[2018-04-11 01:57] tehp commented on #140
Seems that the plugin developers are inactive.
Best bet is to probably just stick with `hyperline#0.6.1`.

[2018-04-14 08:46] chabou commented on #150
@NickTikhonov Any chance to fix this issue soon? Our upcoming v2 is imminent.

[2018-04-15 09:03] yipsang commented on #127
The issue still exists, how come it's closed?

[2018-04-16 17:58] dakshshah96 commented on #150
Doesn't work in 2.0 stable release as well.

[2018-04-16 21:08] oshalygin commented on #150
ditto doesn't work in 2.0 stable either.

[2018-04-16 21:56] ftovaro opened #154 "I miss the parrot"
Is there any way to reactivate the parrot or has it been completely eliminated? I loved him 😢

[2018-04-16 23:45] goldquest commented on #150
I'm working on it currently. I replaced aphrodite with styled-jsx, but I still have an issue with the dependence to hyper exposing/hijacking modules.
Either I make a PR for hyper, or we include react and `hyper/component` (which is now just `React.PureComponent`) to this module ourself.

[2018-04-17 10:58] lucianonooijen opened #155 "Hyperline does not load: Plugin error: hyperline: Error occurred in `decorateHyper`."
Since yesterday Hyperline does not seem to load anymore. There were no changes in any other settings.

I get the following notification:

[code]

The complete Developer Tools log after starting Hyperterm:

[code]

My Hyper config JS file:

[code]

[2018-04-17 18:56] pbegle commented on #155
Same thing happened to me yesterday but this was after I upgraded to Hyper version 2.0. I suspect maybe you inadvertently did the same. What version of hyper are you on?

[2018-04-17 21:43] oshalygin commented on #150
@goldquest thanks! let me know if you want a hand!

[2018-04-18 10:00] lucianonooijen commented on #155
Unfortunately Hyper keeps updating itself, and I see no way to prevent that from happening (without digging in the source code). I now switched back to iTerm2 for the time being, but it would be great if I could use Hyper again soon

[2018-04-18 10:40] goldquest commented on #152
So since we have hyper2 stable now, I would say this issue is obsolete. Let's just make this plugin work for hyper2 now.
Ongoing issue about that: https://github.com/Hyperline/hyperline/issues/150

[2018-04-18 10:40] #152 closed

[2018-04-18 12:30] goldquest commented on #150
So, I have a working PR. Unfortunately it relies on a fix for hyper itself. Maybe someone can look into that PR, too.
https://github.com/Hyperline/hyperline/pull/156
https://github.com/zeit/hyper/pull/2866

[2018-04-19 01:57] alxtz commented on #155
@lucianonooijen Same here, I wonder why would the hyper dev team trade all plugin & ability to customize with yet another render engine

[2018-04-24 09:21] aeimer opened #157 "Add support for Git Bash under Windows"
I love to use the Git Bash with Hyper, maybe it's possible to get some features there too...

[2018-04-29 03:22] jbastias opened #158 "the plugin is not being loaded"
I'm trying out hyper for the first time and was trying to find useful plugins. I liked **hyperline** but it doesn't work for me. I'm using Hyper 2.0.0 (stable). I have a couple of plugins (hyperterm-cobalt2-theme (2.0.0), hypercwd (1.2.2)) as well **hyperline** ... but I can't it's not being loaded and I think I  I did added correctly but nothing. The other plugins are being loading so ... ¯\\_(ツ)

[2018-04-29 08:26] halink0803 commented on #158
The plugin is not working with the Hyper 2.0.0 yet, you can find out that in the issue list https://github.com/Hyperline/hyperline/issues/150
They made a PR to hyper but it has not been merged yet, so if you want to use Hyperline, you can try older version of Hyper, or else you have to wait until the problem resolved.

[2018-05-14 21:48] #150 closed

[2018-05-16 01:29] xster commented on #149
Same issue on macOS

[2018-05-20 04:48] eriknyk opened #159 "Unmet peer dependency error "react@15.x.x""
just enabled the plugin and I got this error:

![image](https://user-images.githubusercontent.com/205721/40275774-0c795fd4-5bbf-11e8-8504-70b3f0dcd4f8.png)

Regards.

[2018-05-24 09:33] Unforgiven-wanda commented on #159
Same issue here.

[2018-05-26 06:49] samuela opened #160 "hyperline does not show on macOS"
I just installed hyper and was eager to add hyperline, but it doesn't show anything or produce any error after adding it to
[code]
I've tried reloading and restarting hyper. I'm running on macOS 10.13.4 and Hyper 2.0.0 (stable). Interestingly hyperline doesn't show up in the plugin list in "About Hyper".

[2018-05-26 16:23] Hexeption commented on #160
Same problem

[2018-05-26 16:38] lucasduete commented on #160
Hyperline isn't working on Hyper2.0 yet. See #150

[2018-05-27 17:07] liloow commented on #155
## I found a ~~dirty~~ workaround if you are interested (works with latest stable 2.0.x and is hyper agnostic) :

**`.hyper.js` change version to `0.6.1`**

[code]

**`hyperline.js` on line `122`**
[code]
Don't forget to run `yarn add prop-types` inside `~/.hyper-plugins`

![](https://i.imgur.com/1eVlymi.png?1)

[2018-05-27 17:16] liloow commented on #159
I found a ~~dirty~~ workaround in the meantime in case anyone is interested: #155

[2018-05-27 19:18] JMY1000 commented on #155
@liloow What's dirty about that? Seems fine to me.

[2018-05-27 22:57] liloow commented on #155
@JMY1000 I was expecting it to be overridden on each plugin update but now that you mention it I realize my mistake! It is still a rollback and I am directly mutating the React object (which generally not the best idea).

But I have to agree with you, the expression might have been a tad extreme!

[2018-05-29 19:32] liloow commented on #160
Check #155 for a workaround

[2018-05-31 09:14] chinanf-boy commented on #155
I find every time when you `hyper i `something,

 the `.hyper_plugins/node_modules` will reload, Change got

❕put the `node_modules/hyperline` to the `.hyper_plugins/local/hyperline`

### May help

[code]

[code]

[code]

[code]
[code]

[2018-05-31 12:58] liloow commented on #155
@chinanf-boy You're right! I almost never all my terminal windows so I didn't notice it first, my bad!
Your solution should indeed work, don't forget to remove `"hyperline"` from your plugins as well otherwise, they will conflict!

I had to go with a more radical solution myself because this system of auto-updating for no reasons every 5h without being able to opt out is __mildly infuriating__ to

[2018-05-31 15:45] chinanf-boy commented on #155
Make Sence

❤️and , one more thing Help 🤔️

[code]

### I can not just show ip, or something etc,

### If I set hyperline, nothing show up but `black` border .

![bug-demo](https://user-images.githubusercontent.com/20272484/40792451-8be2a638-652c-11e8-96b7-f9618edd30f6.png)

- [x] Done

[code]

[2018-06-15 06:08] lednhatkhanh commented on #160
Hello, any news on this, thanks.

[2018-06-15 17:33] Mickyfen17 commented on #160
Seems to be back up and running on Hyper 2.1.0-canary.2 which was released today.
This is a pre-release but seems like a step in the right direction.

[2018-06-19 05:20] plibither8 commented on #149
Facing a similar problem on Ubuntu 16.04

[2018-08-02 16:21] lyndsysimon commented on #160
Just a note - [the official website](http://hyper.is)'s download link goes to Hyper 2.0.0 still, as does `brew cask install hyper`. If you're having trouble with this, you'll probably have to install the newer version manually (or wait).

[2018-08-02 23:31] michael-land opened #163 "how to add custom styles?"
The font size of hyperline is too small on a large screen. I tried
[code]
but it doesn't work. any ideas?

[2018-08-03 13:56] liloow commented on #163
Here are 2 ways you could tackle this problem:

### Easy and fast solution

**PROS :**
1. Takes less than a minute to set up
2. Doesn't require maintenance on plugins update

Via `.hyper.js` and its `css` property
[code]
**CONS :**
1. Since all plugins are automatically updated by hyper, if the target `class` changes, the fix will break and will necessitate a manual update.
2. It is set in the glo

[2018-08-04 02:46] michael-land commented on #163
That make sense. Thank you.

[2018-08-04 02:46] #163 closed, assigned to nobody

[2018-08-16 07:26] dragonJACson commented on #149
Now the `hyperline` will show the same error as before, but it works, so I closed this issue.

[2018-08-16 07:26] #149 closed

[2018-08-22 05:54] deejcoder commented on #157
Hyper should really somewhat make life easier for those who use git bash in general. Anyway, I assume this is why hyperline isn't working at all for me?

[2018-09-05 09:16] TheDonDope commented on #154
https://github.com/Hyperline/hyperline/commit/e824b49d55c7dacd3ef9f5b989682abffcc8c899 killed the parrot :C
You could restore it, if you would partially revert the changes of this commit (Browse through the changeset and you will find the corresponding code).

[2018-09-05 15:40] ftovaro commented on #154
Thank you 👍

[2018-09-05 15:40] #154 closed

[2018-09-06 10:31] TheDonDope commented on #154
@ftovaro I just saw that the parrot was moved to a separate repository: https://github.com/Hyperline/party-parrot-hyperline

So maybe you don't even need to fiddle around manually and just can add this as a separate Hyper plugin?

[2018-09-09 00:12] ajfick commented on #155
@chinanf-boy This may be a dumb question, but where can I find the list of which options are available to each plugin? For example, in the two that you noted in https://github.com/Hyperline/hyperline/issues/155#issuecomment-393575812 , `network` uses `color` while `battery` uses `colors` with multiple options.. Whenever I try to add another plugin other than the ones that you included in your comm

[2018-09-09 03:02] chinanf-boy commented on #155
@ajfick I almost forgot, eventually found it https://www.npmjs.com/package/hyperline/v/0.6.1

If you Look above, The version we use is 0.6.1

[2018-09-09 14:43] ajfick commented on #155
@chinanf-boy Thank You!!

[2018-09-20 14:46] noook opened #167 "Hyperline plugins selection doesn't work."
Hyperline plugins are not the same as specified in my config file (only relevant options):
[code]

Every time I save or even change the order of the plugins it doesn't make any change.

Hyper 2.1.0-canary.2 (canary)
Plugins:
  hyper-one-dark (1.0.0),
  hyper-pane (2.1.3),
  hyperline (1.2.0)

MacOS 10.13.6

[2018-09-20 19:18] AuHau commented on #167
I am not sure what exactly you mean, but you have in your list plugins, which seems not supported atm. For example `time` or `uptime`. Or at least I assume they are unsupported because they are commented out from https://github.com/Hyperline/hyperline/blob/master/src/lib/plugins/index.js

I would be actually interested why they are commented because I would like to have for example support for the

[2018-09-21 11:20] mucanyu commented on #140
It's not fixed yet. Still facing same issue.

[2018-10-10 09:44] liloow commented on #167
@AuHau @neilrichter The project seems to be on hold at the moment, but I you can check my fork, I fixed a few things: [HERE](https://github.com/liloow/hyperline/)
Disclaimer: I only fixed what I needed for my personal use but and tweaked a few things like colors but who knows, it might suit your needs

[2018-10-30 23:19] malwareslayer opened #168 "Uncaught Error EPIPE & Osascript Makes Hyper Lagging on Ubuntu"
Hyperline keep getting Uncaught Error like this below, and makes Hyper Lagging

`events.js`
[code]

[code]

[2018-11-07 18:54] igniscyan opened #169 "usr/bin/env : 'node' does not exist, although it does"
dependency "react@15.x.x || 16.x.x".
error /home/igniscyan/.hyper_plugins/node_modules/hyperline: Command failed.
Exit code: 127
Command: opencollective postinstall
Arguments:
Directory: /home/igniscyan/.hyper_plugins/node_modules/hyperline
Output:
/usr/bin/env: 'node': No such file or directory

I've done the usual steps I could find online involving making a symlink, and have even tried fully un

[2018-11-07 22:23] janjur commented on #110
Why have you closed this without any explanation? @NickTikhonov

[2018-11-08 09:35] janjur commented on #66
@NickTikhonov , so how can I align to the right?

[2018-11-09 21:51] justinschier commented on #140
Still seeing this issue today with a new Hyper and hyperline install.

[2018-11-13 12:59] jestersunborn commented on #158
Any updates on this issue? Does `hyperline` work with Hyper `2.0.0` now?

[2018-11-20 16:09] slnt opened #170 "Add targetable divs for plugins"
It would be nice to be able to target each plugin so that they can be separately styled.

Currently I am doing:

[code]

which is really awkward, and also doesn't work if I use `:first-child`.

Being able to target a div for the cpu text, rather than the kind of hacky `nth-child` would be super great.

[2018-11-25 19:06] cfvescovo commented on #167
Unfortunately it does not work.
You can fix this by editing the source code.

[2018-11-28 01:26] rodolfoviolac commented on #159
+1

[2018-11-29 14:09] chalkos commented on #169
Pretty sure this is a duplicate of #159

[2018-11-30 04:41] igniscyan commented on #169
I'll give this work around a shot and update you with the results. Thank you very much!

[2018-12-07 19:06] slnt commented on #116
In your `~/.hyper.js`
[code]

[2018-12-07 19:11] slnt commented on #10
@timneutkens I am currently having this issue.
Hyperterm version 2.1.0 (canary) and latest version of Hyperline.

[2018-12-08 12:17] timneutkens commented on #10
I no longer maintain Hyperline.

[2018-12-11 17:23] iamjaredwalters commented on #158
Any update on this?

[2018-12-17 01:24] xareelee commented on #160
I just updated Hyper to 2.1.0, and it works correctly. I think this bug has been fixed in hyper 2.1.0.

[2019-01-01 13:21] mrbruce516 opened #172 "cant display my ipaddress"
it displayed ?.?.?.?

[2019-01-09 02:08] #172 closed, assigned to nobody

[2019-01-15 21:07] vasilescur commented on #85
What's the status on this?

[2019-01-30 21:15] nodeselector opened #173 "Hyperline doesn't show on Windows 10"
I'm trying to run hyperline with the below configuration:

[code]

Errors in console:
[code]

I'm aware that there are some limitations to hyperline on Windows 10 and that it is not officially supported. Though I was under the impression that the hyperline itself should show. I'm also not sure why hyperline is trying to load an applescript. Is there a way to disable this?

[2019-02-18 12:10] haai opened #176 "last line of terminal output overlaps with hyperline plugin"
First of all I like hyper and the hyperline plugin :)

But when I use hyperline the last line of the terminal overlaps with the plugin... See screenshot
![screenshot 2019-02-18 at 13 05 41](https://user-images.githubusercontent.com/1422735/52949928-fbcdae00-337d-11e9-911c-74c4694741c0.png)

It is worth mentioning that i use `padding: '0px 0px',`.

hyper version:

[code]

[2019-02-18 12:13] haai commented on #176
aehm ... i guess its a duplicate for #70

[2019-02-22 19:50] nazariyv commented on #155
why wasn't this ever merged? I am still having this issue on my Ubuntu machine

[2019-02-26 21:10] ahtee opened #177 "Docker plugin available? Add to the index.js"
Is the docker component ready? can we add it to the `index.js` to be available?

[2019-02-28 15:34] jericopulvera commented on #159
I fixed this using these steps.

1. cd ~/.hyper_plugins/local
2. git clone https://github.com/Hyperline/hyperline.git
3. cd ~/.hyper_plugins/local/hyperline
3. npm install react
4. specify hyperline as localplugin

from this
[code]
to this
[code]

Basically what happens is that hyperline plugin is requiring react as it's dependency and it can't find it in the node_modules since it is not defined i

[2019-03-07 19:14] nightwnvol commented on #173
@jeffmartinxyz
Try to move your `hyperline configuration` in the `config: { }` section.
[code]

[2019-03-12 16:57] theNaut1lus opened #178 "Contributors photos redirect to 404 Error"
Seems like whenever I click on any of the photos in the contributors' section, it redirects to a 404 page.
Was this supposed to happen or have I discovered a bug ?

If it is a bug, would love to work on this as my first contribution here 🥇

[2019-03-13 01:05] cholojuanito commented on #159
@jericopulvera's fix works. [https://github.com/Hyperline/hyperline/issues/159#issuecomment-468317820](url)
Can confirm on Ubuntu 18.04

[2019-03-22 15:46] asbarron opened #179 "Hyperline won't load config"
I edited `.hyper.js` as described in `README.md`:
[code]

[2019-03-22 17:20] #179 closed, assigned to nobody

[2019-03-27 13:51] JoanComasFdz commented on #159
I just followed the steps from @jericopulvera and now there is no error, but there is no status bar either.

I am on Windows 10 1709 16299.967 using Hyper 2.1.2 (stable).

Also it is not listed in the about window.

[2019-04-09 23:07] miguelfaggioni commented on #168
Same issue on Windows 10 :(

[2019-04-19 08:28] keremcankabadayi commented on #168
any news about it?

[2019-04-23 23:21] digitaljhelms commented on #159
[This](#issuecomment-468317820) worked for me as well (with the added step of running `npm run build` after installing the React dependency).

[2019-04-25 10:54] bogdancss commented on #158
still not working

[2019-04-25 11:24] halink0803 commented on #158
I am using Hyper 2.1.2 and Hyperline is working fine.

<img width="549" alt="Screenshot 2019-04-25 18 22 40" src="https://user-images.githubusercontent.com/5054560/56732355-46f1ac00-6787-11e9-9610-eba4af77d811.png">

[2019-04-25 11:25] bogdancss commented on #158
You're right, I think I had an error in my config file - all good now.
Do you know how to adjust the padding at the bottom of the terminal?

[2019-04-29 23:43] iamjaredwalters commented on #148
Any progress on this?

[2019-05-17 00:33] sammyhass commented on #178
Good spot, was because the link to the page was relative and didn't take into account multiple branches. Fixed this and added the right link on the picture too.

[2019-06-03 22:57] SethuSenthil opened #182 "Copy network IP when clicked"
It's very useful to view the network IP, but it would be even better if we count copy that text to our clipboard so we won't need to manually type it out.

[2019-07-30 19:15] digitaljhelms commented on #136
Curious why this was closed with no resolution? Currently on b4e275e6b399abff1540400d719f1169a77e3b30 and I still have this issue.

[2019-07-31 04:00] 9oelM opened #184 "Adding any custom config to hyperline will break fontSize (and possibly other props, not tested)"
# The problem
I have

[code]

and it does not resort to the original fontSize (which I guess is like 12px). Everything is ok:

![image](https://user-images.githubusercontent.com/22465806/62182865-1aa38800-b393-11e9-9b0c-e1e12d9d8a4e.png)

But if I add hyperline config, like this:

[code]

This will somehow override styles (I mean that `fontSize` gets somehow reduced down to 12px again. I also susp

[2019-08-20 03:23] FranklinYu commented on #62
Why this was closed? Is this feature implemented?

[2019-08-26 19:31] Z33DD opened #185 "DeprecationWarning"
This happens after install and seems that is causing too much lag, when I use hyperline, Hyper takes too much time just to recognize that I'm typing

`bash
(node:29404) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
warning hyperline > left-pad@1.3.0: use String.protot

[2019-08-28 14:13] flogaribal commented on #173
Hi !
Still have the same issue as @jeffmartinxyz.
I'm using hyper on windows with the following config:
[code]

And I get the same error
[code]

Does somebody have any workaround or fix ?

Thanks a lot in advance

[2019-09-04 06:55] mschmidt291 opened #186 "Spotify and Network-Traffic not working in Arch Linux"
Hi,
With Hyper 3.0.2  the Network-Traffic and Spotify Plugin are not working for me. Spotify is not showing the currently played song and the Network-Traffic Plugin is probably using a wrong adapter and thus is always showing 0.
Any plan on how to fix spotify and how to specify the network adapter for the traffic plugin?

[2019-09-21 16:27] jdheyburn commented on #18
Nowadays the file is called `.hyper.js`.

[2019-10-10 16:48] dagadbm commented on #185
stoped using this because of this

[2019-10-12 05:40] tysun opened #187 "hyperline plugin config not recognised by hyper.js"
I have disabled Spotify, but it still persists in Hyper. The plugin config block seems to be ignored in `.hyper.js`. I've also tried editing `hyperline.js` and disabling Spotify to no avail.

`hyperline: {
    plugins: [
      "hostname",
      "uptime",
      "ip",
      "memory",
      "cpu",
      "network",
      "battery",
      "time"
    ]
  },

  plugins: ["hyper-snazzy", "hyperline"],`

[2019-10-18 09:01] gethari commented on #187
@tysun facing same issue

[2019-10-19 01:54] zhao-li opened #188 "How do I update the status line's height?"
Thanks for making this awesome product.

I tried following this example to update the status line style:
https://github.com/Hyperline/hyperline/issues/163
with something like this:
[code]
But I could not get any of those settings to increase the height of the status line:
https://github.com/Hyperline/hyperline/blob/master/src/lib/core/hyperline.js#L32

I tried changing the margin and padding css s

[2019-10-25 14:37] almoghamdani commented on #186
Joining

[2019-10-27 16:15] ChristosBouronikos opened #189 "Can't make hyperline taller or the font larger."
I tried editing the .js file hidden in the local appdata, but still nothing changes.

[2019-11-05 15:27] muloka commented on #185
Not sure if this plugin is still being maintained.

[2019-11-11 17:16] olwe1 opened #190 "Display remote info when logged through ssh"
When I am logged to a distant computer through ssh tunnel I see the local informations where I should see the remote info.

[2019-11-11 22:26] lou-bi commented on #158
Neither `hypercwd` nor `hyperline` are loaded for me on the last stable release.
Don't know what to do :(

![image](https://user-images.githubusercontent.com/29218400/68625843-5e517600-04da-11ea-85d2-993bb5f954e9.png)
![image](https://user-images.githubusercontent.com/29218400/68626008-b7210e80-04da-11ea-8c59-becb93d502f5.png)
![image](https://user-images.githubusercontent.com/29218400/68626018-bd

[2019-11-12 02:31] halink0803 commented on #158
Hyperline loaded totally fine for me. Maybe your plugins conflict with each other, you should investigate it yourself instead of blame the system, you can use it or not, nobody care.

[2019-11-14 14:08] bbrink68 commented on #187
Also facing this issue.

[2019-11-14 14:53] bbrink68 commented on #187
@gethari @tysun I believe I've figured this out.  In the examples the hyperline config is below the plugins array.  But I'm assuming in Hyper 3, they've moved the plugins array outside of the config hash.  Once I moved the hyperline specific config inside the config hash, it started working.

Here is an example of a working config, where the options are respected:

[code]

[2019-12-07 23:43] mayconaraujosantos commented on #66
I changed the dist file
in **C:\Users\myUserName\AppData\Roaming\Hyper\.hyper_plugins\node_modules\hyperline\dist\hyperline.js**

css: ['.line.jsx-1196914242{ justify-content: center;display:flex;align-items:center;position:absolute;overflow:hidden;bottom:0;width:100%;height:18px;font:bold 10px Monospace;pointer-events:none;background:rgba(0,0,0,0.08);margin:5px 0;padding:0 10px;}', '.jsx-11969142

[2019-12-08 14:34] lastnamearya commented on #189
Yes, +1 :)

[2020-01-15 07:42] marmelin commented on #173
when I added hyperline config into config-section and deleted "spotify" setting .. it works :)
seems if you add settings that hyper cannot access it wont work .

[2020-01-15 14:57] rohitkrishna094 commented on #189
any update on how to do this?

[2020-01-15 14:58] rohitkrishna094 commented on #128
Why was this issue closed without any solution posted? Is there a way to change font size or padding etc?

[2020-01-15 15:02] ChristosBouronikos commented on #189
No. Not that I know of. I've searched through open issues and old closed issues. Nothing.
Are you on Windows 10 too?

[2020-01-15 16:04] rohitkrishna094 commented on #189
Yes I am windows 10.

[2020-01-16 22:16] ChristosBouronikos commented on #189
Well the developer hasn't been active for months apparently, so I don't see this bug being fixed anytime soon.

[2020-01-28 21:17] mcarpenterjr commented on #185
I was able to fix this by following the instructions in the readme for building/developing and then using `npm audit`  and `npm audit fix` to update the dependencies. npm complained that babel and jest had some possible breaking changes, but everything seems fine so far.

[2020-01-29 18:55] bzvikler commented on #176
@haai Yeah but they closed the issue in 2018, but I'm still seeing it as of Jan 2020, so this is a valid issue.

[2020-02-04 06:21] edpanes opened #191 "IP shows ?.?.?.? on mine."
Probably because it is not looking for the value of interface **en0** on my machine. I looked into ip.js but couldn't find where to update it.

[2020-02-06 14:08] edpanes commented on #191
oh kay... so i got an ip now... and it is my public ip. thats nice. Would also love to get my local ip.

[2020-03-02 09:04] Asmoddym commented on #186
got the problem too :'(

[2020-03-04 07:32] sanguino commented on #185
@mcarpenterjr I did what you said, the warning is not showing, but hyperline stills not showing, any idea?

[2020-04-01 17:29] mcarpenterjr commented on #185
@sanguino is it enabled in your prefs? Silly question I know.

[2020-04-02 07:56] sanguino commented on #185
Yes, it’s enabled

[2020-04-07 19:25] OnTheRicky opened #192 "Hyperline blocking last line of text"
`hyperline` is blocking the last line of text in terminal.

I have the following installed: `plugins: ["hyper-search", "verminal", "hyperline"]`

[2020-04-27 11:53] Sagarmak-zz commented on #189
Hey guys, I have my Hyper installed in directory `C:\Users\{username}\AppData\Roaming\Hyper` and inside of this, all the Hyper packages are stored in `.hyper_plugins` folder. Inside its same as a React or Vue project's `npm_modules` folder and inside of this, you can navigate to `hyperline` directory. In this folder, go to `dist/hyperline.js` and its a build file for the `hyperline` plugin. Go to

[2020-04-28 11:25] ByFe commented on #189
I had a similar issue and just looked up the element class in the `npm_modules\hyperline\dist\hyperline.js` file and add some custom css in the `hyper.js` config file so that I didn't mess with the original plugin file.
[code]

[2020-04-28 11:46] Sagarmak-zz commented on #189
This works, and its awesome. Thanks @ByFe ✌️

[2020-04-30 22:22] arthur798 commented on #192
same for me? any update on this?

[2020-05-31 18:31] monado3 commented on #173
Spotify bug on Windows 10 won't be fixed?

[2020-06-04 03:32] kerryfalk commented on #158
@bnlo I'm having the same issue - were you able to resolve it?

[2020-06-04 07:41] lou-bi commented on #158
@kerryfalk No sorry, I don't use Hyper anymore so I'm not up to date about workaround. If the documentation does not mention thiss, then there might have no solution for now.

[2020-06-05 03:35] rohitkrishna094 commented on #158
@bnlo If you don't mind me asking, what do you use now if not Hyper? Thanks

[2020-06-05 09:09] lou-bi commented on #158
@rohitkrishna094 For now I'm using Alacritty after failing to do what I did want with ST.

[2020-07-17 14:39] nick-robo commented on #184
I have the same problem

[2020-07-21 11:51] TurnrDev opened #193 "Spotify doesn't seem to work on Linux?"
I don't know why or what, but if it helps I'm on arch. My `.hyper.js` is as such

[code]

It appears at the bottom of my Hyper with the Spotify icons but no song name or anything else

[2020-07-22 20:07] bolex222 opened #194 "Error updating plugin (node:32011)"
get this error at starting hyper
![warning hyperline](https://user-images.githubusercontent.com/50240788/88223368-a333cc00-cc67-11ea-987a-9907a0e59154.png)

[2020-07-23 14:48] abixadamj commented on #185
I have similar error, but plugin works...
![Zrzut ekranu z 2020-07-23 16-48-11](https://user-images.githubusercontent.com/5088643/88300972-64a01f00-cd04-11ea-8451-52244e2b4c04.png)

[2020-08-04 10:34] thecodelayeriser commented on #194
Have the same issue.

[2020-08-08 22:21] samlovescoding commented on #194
Yup. The issue still remains on Linux Mint 19.3 (Cinnamon 4.4.8 / Linux 5.4.0-42-generic).

[2020-08-14 11:37] emmanuelnk commented on #194
@bolex222 it's because the dependencies are outdated. Especially babel and webpack. I've made a PR to update them and the errors are taken care of. The plugin works with the latest version of Hyper.
However, I don't know if this project is still being maintained.

If you want to you can clone my master fork into `~/.hyper_plugins/local/`, run `yarn` and then `yarn run build` and add `'hyperline'`

[2020-08-16 07:10] emmanuelnk commented on #193
Yeah it doesn't work on Linux because the project uses [andrehaveman/spotify-node-applescript](https://github.com/andrehaveman/spotify-node-applescript) to access spotify which does not support Linux. It would have been helpful for the creators to specify this in the Readme.

[2020-08-17 12:39] bolex222 commented on #194
Thx @emmanuelnk! hope your PR will be accepted

[2020-08-20 20:51] Alex-Saber opened #196 "Custom Colors for Hyperline stats."
It would be awesome if we had some customization when it comes to the display colors of the different stats. :)

[2020-08-31 08:55] zzsuki opened #197 "can not config rigth with win 10"
![image](https://user-images.githubusercontent.com/57662555/91701938-9b424280-ebaa-11ea-9421-011461958e11.png)
and here is my js file:
[code]

[2020-08-31 09:02] zzsuki commented on #197
sorry for my careless，i put the hyperline dict out of config range, problem solved after change the location of it ,

[2020-08-31 09:02] #197 closed, assigned to nobody

[2020-11-08 18:46] abixadamj commented on #194
@emmanuelnk - Great work ;-)
![Zrzut ekranu z 2020-11-08 19-22-05](https://user-images.githubusercontent.com/5088643/98481516-13586480-21fb-11eb-976b-6a12e0afd425.png)

Works perfectly on Mint 20 LTS.

[2021-03-18 15:34] jamiedoris commented on #196
Also hoping for this.  Seems like it was available at some time in the past, but no longer.

[2021-03-24 13:39] JoanComasFdz commented on #191
It is displaying my IP correctly when connected to Wifi, but when I connect throguh a VPN then it shows ?.?.?.?.

Windows 10 1909
Hyper 3.1.0 canary
Ubuntu 20.04

[2021-03-31 09:30] Erchoc commented on #179
why closed?

[2021-05-04 19:49] fisehara commented on #192
Same for me. It depends on the window size if the hyperline is covering the last line or not. In fullscreen on macos 16" the hyperline is not covering the last line.

[2021-05-07 03:13] ptrrdrck commented on #192
I encountered this issue also and made the following update to padding settings in **.hyper.js** as a workaround:

`module.exports = {
  config: {
    padding: '12px 14px 22px',
  }
}`

This reads as padding-top, padding right+left, padding-bottom. Note: I chose 22px as it seemed the be the minimum additional padding to prevent hyperline from interfering with the bottom-most line/new prompt with w

[2021-06-07 14:20] Orimia opened #198 "Hyperline slows down Hyper app"
### Problem
After upgrading hyper to the latest canary version which was 3.1.0-canary.5, I had problems with lagging terminal and after disabling and enabling the plugins, I came to conclusion that it was Hyperline's problem.
I don't know why but it just slows down the entire app and it has a 2 second lag.

OS Version: macOS Big Sur 11.4

**_I appreciate your help!_**

[2021-07-16 20:02] james-0704 commented on #198
Same here. Just updated hyper to the latest version and had to disable hyperline to stop the lag.

[2021-07-17 20:03] victorsoares96 commented on #198
same issue..

[2021-07-18 05:58] charles4221 commented on #198
I have the same issue, Hyper is unusable with `hyperline` installed after upgradingt o Hyper 3.1.0 (which is now the stable release and Hyper forces the update for me even after manually downgrading) so I have had to disable `hyperline` completely to make the app usable in any way.

[2021-07-19 10:08] Orimia commented on #198
Exactly, now I can only use Hyper without Hyperline enabled.
They should fix it somehow.

[2021-07-20 09:45] LinuxAd commented on #186
See this issue: [193](https://github.com/Hyperline/hyperline/issues/193), I wonder if the networking is related.

Neither work for me, I'm on ubuntu.

EDIT: Networking is unrelated, it uses this package: https://www.npmjs.com/package/systeminformation.

I'm now thinking it could be a permissions issue?

[2021-07-20 14:30] bfaulk96 commented on #198
This package hasn't been updated since 2018... Don't count on it

[2021-07-20 21:25] bfaulk96 commented on #198
Since you'll see more traction on this in hyper's repo, here's the issue to follow: https://github.com/vercel/hyper/issues/5754
The lag appears to be due to a bug in electron (see https://github.com/electron/electron/issues/26143), not a bug in this plugin.

[2021-08-12 14:44] carl0shd opened #199 "Hyperline don't work on latest hyper version"
Hi guys, i am using Hyper 3.1.2 but when i install Hyperline, never shows.

![image](https://user-images.githubusercontent.com/8359234/129217317-5d60e447-14a0-4c6b-92df-ab78f00bad17.png)

[2021-08-25 15:17] mattheath commented on #199
It looks like this is caused by the `network` and `spotify` plugins, which are both enabled by default — disabling both, by adding the following to my config and performing a full reload, means hyperline works again for me:

[code]

---

The `network` plugin is failing as the `systeminformation` module it depends on is calling `execSync` to determine the interface name, which is blocked, so receiv

[2021-09-01 11:19] mwoz123 commented on #168
problem still exists :(
I keep on getting this on :

[code]
hyper version:
[code]
Details:
![Zrzut ekranu z 2021-09-04 13-45-51](https://user-images.githubusercontent.com/4487025/132093338-bd582b28-c83f-446d-8611-d4cef9cf30f1.png)

[2021-09-04 11:53] mwoz123 commented on #168
this might be helpfull:

https://stackoverflow.com/questions/27688804/how-do-i-debug-error-spawn-enoent-on-node-js

[2021-09-10 19:22] malwareslayer commented on #168
Close issues, because `osascript` is only in MacOS, that's why there's no Linux distribution has `osascript` either backported into Linux distribution.

[2021-09-10 19:22] #168 closed, assigned to nobody

[2021-09-22 12:27] mwoz123 commented on #168
@malwareslayer - is there a solution/workaround for that ?
Shouldn't then this `osascript` check/use only on Macs?

The issue still exists on Linux...

moreover I do confirm it's also exist on Windows:

![image](https://user-images.githubusercontent.com/4487025/134342692-b1d9a09a-a523-43cd-b78e-9da4901a3d92.png)

it seems the only env where it doesn't is Mac ...

[2021-09-27 11:13] #148 closed

[2021-10-14 10:28] giolf commented on #199
@mattheath your trick with the version 3.1.4 doesn't work. Meaning the plugin is still crashing.

[2021-10-21 01:10] jhjdev commented on #199
@mattheath I can confirm your suggestion works, although at the moment only the Spotify plugin seems to be crashing hyperline for Hyper v. 3.1.4

[2021-12-03 13:29] Norby99 opened #200 "Add Lable for git branch name"
Hi I really love this plugin. I'd like to suggest u adding a git branch name.

[2022-02-04 14:35] SoujiKwan opened #202 "Position"
can we move the status data to the right?

[2022-02-23 13:31] GamaG27 opened #203 "Hyper takes a HUGE hit in performance"
Hello ! i am a new user to hyper and i started using hyperline but then Hyper started to sttuder and take a lot of time in general to do/or write.

i am using Macos and only have few plugins..
<img width="328" alt="Screenshot 2022-02-23 at 14 24 14" src="https://user-images.githubusercontent.com/56368966/155329166-334455dd-53a0-4732-b17e-0992d2080fe2.png">

[2022-02-24 20:15] aiknayan opened #204 "How to configure Spotify"
Hello There,
using this awesome plugin. everything working fine. expect Spotify. Actually I don't even understanding where to login or how?

OS = POPOS

[2022-03-01 18:43] michaelshumshum commented on #196
you can use the :nth-child() selector in CSS to manipulate the styles of individual stats.
[code]
N being the index of the stat in the DOM.

[2022-03-01 18:51] michaelshumshum commented on #204
it is supposed to hook into your spotify process on your computer, but hyper blocks the `spawn` command when it is in the renderer. there would be no need to login, though it isn't working right now anyway (or seemed to have in the couple months).

enabling the spotfy plugin actually crashes hyperline, so i don't think it is usable with spotify right now. in other words, its broken.

[2022-03-09 22:41] matewilk commented on #202
+1
I'd also liked to move it to the right

[2022-03-23 23:30] techyporcupine commented on #203
I noticed this too. I want to know if there is any fix. I am using Fedora 36.

[2022-04-15 16:18] reloadedd commented on #202
+1

[2022-05-25 09:29] LostInCompilation opened #205 "Cannot set background color"
I'm trying to set the background color like this:
[code]

But that has no effect. I could change the background color with a custom CSS style, but that will break the hyper border plugin (the background color is now partly on top of the border, looks really distracting).
Custom CSS:
[code]

Any way to change the background color?
I'm using Hyper 3.2.3 stable on M1 Mac.

PS: The network plugin is b

[2022-05-28 15:54] LostInCompilation opened #206 "Is Hyperline dead?"
Will there be any further development?
Looks like hyperline is dead. Contributing is also not possible, all pull request are still open.

[2022-08-02 20:08] azinsharaf opened #207 "showing memory in GB instead of MB"
Hi, That would be great if the memory can be shown in GB format. Showing in MB is not very human readable.

![image](https://user-images.githubusercontent.com/10101468/182463788-4eec0494-28e4-4f2c-8efa-ae215b102589.png)

[2022-10-18 10:43] kursat-ozer commented on #207
+1

[2022-11-23 22:09] JJJ commented on #198
Confirming resolved for me in Hyper 3.3.